[2016-03-07 21:06] moagrius commented on #269
it doesn't really matter how you label them, it just cares about what scale each level is from 100%.

so if your level 12 is 100% (or 1f), then your level 11 is 92% (or 0.92f), then your level 6 is 50% (0.5f), etc.

[2016-03-07 21:20] honeyhead commented on #269
oh.. sorry actually i don't speak english very well.

----------------------------------------------------------------------------------------------------
deepzoom zoom level is
image is scaled down by 4 (a factor of 2 in each dimension).
Also, the image is tiled up into 256x256 tiles
Each resolution of the pyramid is called a level.
Levels are counted from the 1x1 pixel as level 0.
Each level is

[2016-03-07 21:22] moagrius commented on #269
i don't know how to explain it any better, i'm sorry.

TileView DetailLevels need to know at what point to use that tile set.  If there isn't a real original image, you just have to decide on what level (tile set) you consider 100%, and go from there.

[2016-03-07 21:24] honeyhead commented on #269
ok. thx. i try to it !

[2016-03-07 21:25] moagrius commented on #269
good luck!

[2016-03-11 20:22] dmihalachi-ims opened #272 "Pre-rendering adjacent tiles"
Hi there,

Is there any way of pre-rendering the tiles that are adjacent to the viewport?

I created a little video to illustrate the problem I'm facing: https://youtu.be/lWQ4mrvrvVg - please note the rendering lag when panning.
The bitmaps for the tiles are loaded from memory (LRU cache). I already disabled transitions.

Thank you.
Daniel

[2016-03-11 20:27] moagrius commented on #272
Yes, two things will help:

1.  `setViewportPadding` - this is a badly named method, but basically it makes the TileView consider the viewport to be X pixels larger, in each direction, than it actually is.  So if you set it to 256, you'd always get _at least_ one tile all the way around, off screen, pre-rendered.

2.  try the new (as yet, undocumented) method `setShouldRenderWhilePanning` to `true

[2016-03-11 20:44] dmihalachi-ims commented on #272
Thanks a lot for the quick reply.

`setViewportPadding` works quite well.
`setShouldRenderWhilePanning` yields lots of blank tiles after a while - I'm guessing OOM errors.

Looking forward to version 2.1.0 of your great library!

[2016-03-11 20:44] #272 closed

[2016-03-11 20:46] moagrius commented on #272
glad you got it working, thanks for the info - i'll look into the blank tiles

[2016-03-13 17:51] peterLaurence opened #273 "Restore state on orientation change"
Hey Mike,

On an orientation change, and upon classic scenario when the activity recreates the TileView, it is TileView's responsibility to restore its state. Here is a good [link](http://www.intertech.com/Blog/android-custom-view-tutorial-part-3-saving-state/).
Today, TileView doesn't save the last zoom nor the position. It would be a nice default behavior not to lose the zoom and position when s

[2016-03-13 22:08] moagrius commented on #273
Hm, that's a tough one...  Do `RecyclerView` or `ViewPager` do this?  I wouldn't mind making this optional, perhaps, something like `saveState` and `restoreState`, that the user could call in `onPause` and `onResume`...  that said, it's going to be challenge with some devices to get the scroll position recreated - the `post` trick to set initial scroll position does not work on all devices...

[2016-03-13 22:22] peterLaurence commented on #273
Most of framework's view save their state. This is when we have custom view that we have to deal with `onSaveInstanceState` and `onRestoreInstanceState`.
I had it working. In `onSaveInstanceState`, it saves the relative coordinates of the middle of the screen between the bounds defined by `defineBounds`. It also saves the scale.
In `onRestoreInstanceState`, it simply sets the scale and does :
[cod

[2016-03-13 22:28] moagrius commented on #273
sounds reasonable, go ahead and PR (or actually maybe wait until the other PR is done, unless you're sure we won't have conflicts)...

other than that, specifically about state, how about just save `getScrollX/Y` and restore with `scrollTo( savedX, savedY )`?  if you're saving and restoring scale anyway, you don't need to compute anything...  also has another benefit if the user is not using relat

[2016-03-13 22:31] peterLaurence commented on #273
exactly! I need to wait the other PR.
And sure if this doesn't need to have bounds defined its better. I remember had a reason to do this, but i forgot why...
So agreed.

[2016-03-13 22:32] moagrius commented on #273
:thumbsup:

[2016-03-13 22:59] peterLaurence opened #274 "Little change to double-tap"
As we are waiting for the 2.1.0 version, i have another little subject to discuss.
Now, on double-tap the view is just zoomed to the actual scale times 2. And if the resulting scale exceeds the maximum, we scroll to the minimum.

We could make a little improvement based on the fact that we have better render performances at scales that are a power of 2 (as you know at those scales, tiles are rende

[2016-03-13 23:01] moagrius commented on #274
love it :thumbsup:

[2016-03-14 18:21] moagrius commented on #274
2.1 is out, ready for your PRs

[2016-03-15 07:02] peterLaurence commented on #274
Ok, i do this easy one tonight.

[2016-03-15 18:52] #274 closed

[2016-03-15 19:14] peterLaurence commented on #273
About the fact that this should be optional, as you probably know, the save state mechanism is only triggered if the TileView has an id (see [doc](http://developer.android.com/training/basics/activity-lifecycle/recreating.html) :

)

 So if we don't want the state to be change, we just don't set an id to the view. Are you ok with this?

[2016-03-15 19:19] moagrius commented on #273
yes

[2016-03-15 20:32] #273 closed

[2016-03-15 20:34] #265 closed

[2016-03-15 20:34] #267 closed

[2016-03-15 20:34] #269 closed

[2016-03-16 08:39] peterLaurence commented on #259
As i can't reproduce this since 2.1.0, i believe we can close this.

[2016-03-16 13:55] eldursi opened #279 "Drawing a path on map between two points taking into account buildings"
First of all thank you, the library is amazing.
So I'm using this library to display a map as an image, and I was wondering if there was a way to draw a path between two points taking into account the buildings, i.e. the path only gets drawn on the pathways. Is there a way to do that? maybe by overlaying a graph and setting it to invisible and using dijkstra algorithm?

[2016-03-16 14:02] Dev-iL commented on #279
The navigational part of your issue seems off-topic to me, since this library deals with the display of images (or maps), and not navigation.

Regarding the display of paths - this is described in the [readme](https://github.com/moagrius/TileView#paths). If the standard path-plotting method isn't good for your needs, you might be able to use an invisible [scaling layer](https://github.com/moagrius

[2016-03-16 14:07] eldursi commented on #279
Thank you very much

[2016-03-16 14:07] #279 closed

[2016-03-16 14:21] moagrius commented on #259
:thumbsup:

[2016-03-16 14:21] #259 closed

[2016-03-16 20:59] mkmckenna commented on #168
@moagrius Hey Mike,

I have put together an implementation that adds this feature. I also have added a feature a method to force TileView to "fit" its dimensions. This is slightly different from what setShouldScaleToFit() currently does (I think this should maybe be called setShouldScaleToCover()?).

Anyway, I'll fork TileView and maybe you can give it a code review.

Cheers,
Martin

[2016-03-16 21:02] moagrius commented on #168
cool, looking forward to seeing it, thanks Martin

[2016-03-16 22:21] dmihalachi-ims commented on #272
Just to let you know, `setShouldRenderWhilePanning(true)`, works perfectly as of version 2.1.0.
Threading is also top-notch.
Many thanks for this great update!

[2016-03-16 22:39] moagrius commented on #272
Glad to hear it - thanks for letting us know!

[2016-03-16 23:00] peterLaurence commented on #272
:)

[2016-03-18 08:16] AndrazP commented on #209
The issue is still present in the latest version 2.1.1.
I have tested it on multiple devices with Android versions from 4.2 to 6.0 and with your sample app.

[2016-03-18 11:18] peterLaurence commented on #209
Weird. I don't have this issue. Which version of Android are you using?

[2016-03-18 14:03] moagrius commented on #209
actually i am seeing it too, not on orientation change, but if you put the device to sleep then wake it up.  i'll work on a fix

[2016-03-18 14:41] moagrius commented on #209
fixed in 2.1.2 (available now)

[2016-03-18 14:57] AndrazP commented on #209
Can confirm it's fixed. Thanks!

[2016-03-18 14:58] moagrius commented on #209
thanks for letting us know about the issue and the fix confirmation

[2016-03-18 14:58] #209 closed

[2016-03-19 02:06] eldursi opened #281 "Implementing pinch zooming on TileView"
I was wondering if there was a way to zoom on pinch instead of double tap? I'm working on a map that the user specifies their location in by tapping so that would create an issue when zooming in by double tapping. Any help would be appreciated.

[2016-03-19 16:09] peterLaurence opened #282 "GestureDetector events"
Hey Mike,

Lately i had to handle a `onSingleTapConfirmed` event in a parent view of a `TileView` instance. A simple way to achieve this is to create a view that extends `TileView` (say `MyTileView`) and overrides `onSingleTapConfirmed` (as `TileView` extends `ZoomPanLayout`). Then, to do things properly, i defined in `MyTileView` a listener `SingleTapConfirmedListener`, had some view extend that

[2016-03-20 01:54] moagrius commented on #281
You can already pinch to zoom.  You can disable double-tap zoom by subclassing and override `onDoubleTap`, _without_ calling super, e.g.,

[code]

[2016-03-20 01:56] moagrius commented on #282
In v1 I had all those touch methods in listener interfaces, but it seemed heavy handed.  Assuming I'm understanding your requirement correctly, you could either do it the way you did, or actually use a `GestureDetector` and override `onTouchEvent`, passing the touch event to the detector, as is done here: https://github.com/moagrius/TileView/blob/master/tileview/src/main/java/com/qozix/tileview/wi

[2016-03-20 02:02] eldursi commented on #281
yes I've tried that, but it doesn't seem to work.
I have a touch screen laptop.

[2016-03-20 02:03] moagrius commented on #281
which part doesn't work?
On Mar 19, 2016 9:02 PM, "eldursi" <notifications@github.com> wrote:

[2016-03-20 02:22] eldursi commented on #281
Sorry I actually didn't manage to override it I tried it without @Override because when I used @Override it showed an error
![image](https://cloud.githubusercontent.com/assets/17880851/13902497/b8da9780-ee5b-11e5-8753-118161315319.png)

[2016-03-20 02:26] eldursi commented on #281
![image](https://cloud.githubusercontent.com/assets/17880851/13902511/3c3e86d6-ee5c-11e5-8a39-9798d2302a0f.png)

[2016-03-20 02:28] moagrius commented on #281
weird...  I'm shut down now and traveling tomorrow but will try to recreate tomorrow night or Monday night

[2016-03-20 02:29] eldursi commented on #281
No hurry thank you so much for your help.

[2016-03-20 18:50] peterLaurence commented on #282
Ok i get it. Thanks.

[2016-03-20 18:50] #282 closed

[2016-03-21 03:19] moagrius commented on #281
So there's something strange in your setup, not sure what, but I just tried to extends TileView and it works as expected - double tap does not zoom - and it `override`s as expected.  Here's the exact paste of the class I used:

[code]

I can't be sure exactly what's wrong in your project - if you want to post the whole project somewhere I can view it, I'll take a look, but it doesn't look like a T

[2016-03-21 12:09] eldursi commented on #281
It is really weird I copied and pasted your code in a new class, but same problem. Could it possibly have something to do with the project not being in the same package?
![image](https://cloud.githubusercontent.com/assets/17880851/13918191/a7663b14-ef76-11e5-91b5-6b39f853e6e9.png)
if I don't manage to disable onDoubleTap, I can pinch to zoom regardless right?
Thank you.

[2016-03-21 15:02] moagrius commented on #281
Are you using the latest version?  Have you tried running `clean` on your project?  You can also try creating a new project and seeing if you have the same problems from scratch (a good way to identify the trouble spot).

Yes, pinch to zoom is default behavior, but really disabling double tap zoom should be trivial...

[2016-03-21 20:11] eldursi commented on #281
yes and yes. Unfortunately nothing worked :( but no worries i'll just make a dialog pop up for the user to confirm their location. Thank you so much

[2016-03-21 20:11] #281 closed

[2016-03-24 10:07] Bukmop89 opened #283 "Marker moving if i zoom out"
First of all thanks for this brilliant library.

But i have a question. If i add a marker into the view it will displayed at the correct position. This works very well. But if i zoom out of the map the marker is moving.
For  example i added a gps point and he is moving to the north direction.

Does anybody understand my problem and have some hinds, so that the gps will stay on the position

[2016-03-24 21:17] moagrius commented on #283
my guess is that you're either not using anchor points or not using them as intended.  Please review this section of the readme and post back if you're still having problems: https://github.com/moagrius/TileView#markers--callouts

[2016-03-28 15:12] peterLaurence opened #284 "If a fling is interrupted by a touch down, subsequent calls of isFlinging() return true."
This is a minor issue. In fact, i believe that the `ZoomPanLayout.onDown()` is just missing a `mIsFlinging = false`. It would be :

[code]

I think that the `mScroller.forceFinished( true );` prevents the call of `computeScroll` where `mIsFlinging` is set to false if the scroll is finished.

[2016-03-30 19:45] moagrius commented on #284
hey Peter, sorry about slow reply I've been offline for several days.  that sounds reasonable, i can do it or you can if you want

[2016-03-30 20:14] peterLaurence commented on #284
Hey Mike, no problem, i will make a PR soon.

[2016-04-03 08:58] #284 closed

[2016-04-03 09:03] peterLaurence commented on #284
Sorry Mike, i wanted to make a PR, i used Android Studio to create the PR as i am used to but it pushed to master without creating a PR and it closed the issue.
Next time i create a different branch and it shouldn't do that.

[2016-04-03 19:12] moagrius commented on #284
I think that's fine - you've tested thoroughly and are 100% sure that it works, and didn't break anything else?  If so, I'll try to generate artifacts and push to jCenter soon...

[2016-04-03 19:22] peterLaurence commented on #284
Yes, i checked that it works as expected.

[2016-04-03 19:23] moagrius commented on #284
:thumbsup:
On Apr 3, 2016 2:22 PM, "peterLaurence" <notifications@github.com> wrote:

[2016-04-03 22:40] Dev-iL opened #285 ""This class was probably produced by a compiler that did not target the modern .class file format""
Hi guys,
Does anybody know anything about this problem? I'm getting this during compilation. The app runs fine, but this is somewhat disturbing as it appears as an error and adds to the error count... :\

[code]
I'm testing this on:

- API 23 device (ASUS Zenfone 2 Z00A).
- Android Studio 2.1 preview 5.
- `'com.android.tools.build:gradle:2.1.0-alpha5'`
- `'com.google.gms:google-services:2.1.0-alph

[2016-04-04 04:08] eldursi opened #286 "Adding ZoomControl Widget to TileView"
Hi Moagrius,
I was wondering if you could help me. I've been trying to add ZoomControl widget to my tileview object since onPinch doesn't work for me, but I haven't been able to position it properly, it also disables my TileViewEventListener. This is my code

 public TileView tileView;
    ZoomControls myzoom;

    protected void onCreate( Bundle savedInstanceState ) {
        super.onCreate(saved

[2016-04-04 04:13] cuocsongquanhta opened #287 "Zoom a single image"
How to zoom a sigle image with marker is added?

[2016-04-04 14:06] mkmckenna commented on #245
@mkv123 Are you needing something like this? This is TileView in what I would call "scaled to fit" instead of "scaled to cover" (this is currently called "scaled to fit" however in the current implementation). I have also got it centered in screen. See screenshot below (this image is TileView)

![screenshot_20160404-145650](https://cloud.githubusercontent.com/assets/3937604/14250534/cb37322c-fa76-

[2016-04-04 14:20] mkv123 commented on #245
Yup, exactly that. Actually I implemented it as well, but ran into some issues where I wasn't able to get it to work unless the mode was set as the default. Something to do with the initial scaling calculations, but I also ran out of time trying to debug the issue. Since the hacked version delivered what was needed (without support for the original mode) I needed to move to other things.

[2016-04-05 08:07] ohoedneboe opened #288 "Convert from screen coordinates to bounds"
Hi, wonderful work on TileView.
In the GoogleMap class there is a getProjection which can convert from e.g. screen coordinates to Latitude Longitude. I just do not understand how I can do something similar with TileView?

The reason I ask is that I have a map, using setBounds of Lat Lon. Adding Markers with Lat Lon works fine! But I also want to interactively add markers by tracking finger movemen

[2016-04-05 16:51] peterLaurence commented on #288
Indeed, someone asked a similar question. Mike answered, see #267

[2016-04-05 18:03] ohoedneboe commented on #288
Thanks for the resond, but I do not think this quite answer my question.
To convert between the screen coordinate and the lat lon, I guess scale and the offset of the current view and zoom level must have an inpact for how to transfor e.g. pixel offset 300, 500 to lat lon 10.3E and 59.3N.
I understand the consept of the CoordinateTranlater etc, but cannot see how to do this without at least have m

[2016-04-05 18:28] moagrius commented on #288
`getCoordinateTranslater.translateAndScaleX` https://github.com/moagrius/TileView/blob/master/tileview/src/main/java/com/qozix/tileview/geom/CoordinateTranslater.java will convert an X pixel value into a relative value.  Pass the current scale as the second argument.  Use the `Y` version for Y values.

Note that touch events are relative _to the edge of the screen_ - you will probably need to add

[2016-04-05 18:28] #283 closed

[2016-04-05 18:29] moagrius commented on #285
I have not seen that before - please post back if you get any further information.

[2016-04-05 18:29] moagrius commented on #286
I'd probably add the `TileView` and the widget as children of a common `RelativeLayout` parent.

[2016-04-05 18:30] moagrius commented on #287
Please restate your question with more information.

[2016-04-05 18:37] peterLaurence commented on #288
Hum.. i am surprised because a relative value has to be a `double` and `getCoordinateTranslater.translateAndScaleX` return an `int`. I found what i did to do that _but_ this is not part of TileView :
[code]

[2016-04-05 19:41] cuocsongquanhta commented on #287
In your sample, you load image from 4 slice. My question means how to load whole image  but don't need to divide it to 4 slices.

[2016-04-05 20:05] Dev-iL commented on #285
@moagrius Is there anything you would like me to check? I could try compiling the library from source using the latest gradles and see if these warnings go away....

[2016-04-05 22:04] eldursi commented on #286
Bingo! It worked, thank you

[2016-04-05 22:04] #286 closed

[2016-04-06 10:40] ohoedneboe commented on #288
Thanks for the feedback!
Peter, I found that your code did work only if you have NOT panned the map. So with that respect moagrius is right. What I ended up with, which works for me, is something like this.

`
/* where I handle the touch event and make a new callout */
double panOffsetX = tileView.getScroller().getCurrX()/ tileView.getScaledWidth();
double lon = coordinateTranslater.realToRelative

[2016-04-06 12:08] arso8 opened #289 "Using lat/long in defineBounds()"
I have some problem with using lat/long coords.

What latitude should i pass as top and bottom of `defineBounds(left, top, right, bottom)` method?

if (top < bottom) e.g.` tileView.defineBounds(30.3225, 59.9777, 30.3438, 59.9896);`
then `translateY(double y)` returns wrong value (markers on wrong places);

But if I swap top and bottom (top > bottom),
e.g. `tileView.defineBounds(30.3225, 59.9896, 3

[2016-04-07 00:11] moagrius commented on #287
You could use a single image, but if you exceed the device's heap limit (which can be as low as 16MB on old devices), you'll crash.  The intention of the library is to manage tiled image so that you're not constrained by the bitmap budget, but there's nothing stopping you from using the normal methods with a single "tile".  No special coding is necessary.

[2016-04-07 00:12] moagrius commented on #285
i think that might be a proguard thing...?  i'm really not sure though, i'll leave this open until i get some time to poke around

[2016-04-07 00:16] moagrius commented on #288
@peterLaurence as always great job - indeed those methods should return doubles.  i'll make the change as soon as i get some time (right now i'm buried, new job)

@ohoedneboe yes i'll get this patched soon, at which point you'll add scroll + event position, and pass that to the translate methods.  thanks for catching the error!

[2016-04-07 00:17] moagrius commented on #289
are you passing markers as **lng, lat**, rather than **lat, lng**?

[2016-04-07 09:49] arso8 commented on #289
Yes, I'm passing **lng, lat**.

[2016-04-07 12:29] peterLaurence commented on #288
@moagrius good news, thanks. This functionality will be useful when we want to add markers on some touch event.

[2016-04-07 12:38] peterLaurence commented on #285
Is it intended to use an alpha version of build.gradle?

[2016-04-07 15:16] Dev-iL commented on #285
@peterLaurence - Looks like I am... It could mean several things though: either they screwed up something in Gradle, "I'm using it wrong", or some change (minor as it may be) will need to be included in the library. I suppose time will tell which it is.. Right now we should likely wait for more people to transition to Android Studio 2.0 (and higher), and see if they run into similar errors.

As I

[2016-04-07 20:55] peterLaurence commented on #285
@Dev-iL I agree

[2016-04-08 18:21] moagrius commented on #289
check #288, i mis-cast the relative values as ints, not doubles, which will be very inaccurate for lat/lng.  there are workaround mentioned in that thread.  apologies!

[2016-04-08 23:11] peterLaurence commented on #285
I upgraded to Android Studio 2.0 tonight, and i can confirm the errors posted in OP with using :

- API 23 (Nexus 5)

- build tools 23.0.3

- gradle 2.10

- plugin 2.0.0

After compiling TileView from source with updated build tools, gradle, etc the errors are still showing. **But** after disabling proguard (by setting `minifyEnabled false`) in TileView, i get no error.

So although the errors don

[2016-04-09 14:58] fusionlightcat opened #290 "Question: Is it possible to get the global relative coordinates defined by defineBounds() in an HotSpot.HotSpotTapListener()?"
Hello!

I am currently trying to get the x and y coordinates relative to the bounds I earlier defined with `defineBounds()` inside of an `HotSpot.HotSpotTapListener()`. I defined the HotSpot using `hs.set(new Rect(0, 0, map.getWidth(), map.getHeight()));` (The `map.getWidth()` and `map.getHeight()` methods return the size of the map). Using this method to create the HotSpot enables me to listen fo

[2016-04-09 15:05] peterLaurence commented on #290
Someone already requested that feature, see #288. Mike plans to add it we he can. In the meantime, you can have this implemented in a temporary modified TileView following what @ohoedneboe did.

[2016-04-09 15:20] fusionlightcat commented on #290
Thankyou, I will try this! If I am successful I will close this issue.

[2016-04-10 19:10] moagrius commented on #288
@ohoedneboe 2.1.3 now has convenience methods to provide reverse translation (pixels to relative), also see the FAQ: https://github.com/moagrius/TileView/wiki/FAQ.  re-open and post back if you have any questions - thanks for noting

[2016-04-10 19:10] #288 closed

[2016-04-10 19:11] moagrius commented on #289
2.1.3 now has convenience methods to provide reverse translation (pixels to relative), also see the FAQ: https://github.com/moagrius/TileView/wiki/FAQ

[2016-04-10 19:11] moagrius commented on #290
2.1.3 now has convenience methods to provide reverse translation (pixels to relative), also see the FAQ: https://github.com/moagrius/TileView/wiki/FAQ

[2016-04-11 10:00] arso8 commented on #289
@moagrius Can you please explain how does reverse translation fix my problem? And what about mis-cast? Why `translateAndScaleX` has to be `double`, if it return absolute pixel value? Thank you

[2016-04-11 10:09] peterLaurence commented on #289
@arso8 Don't worry there is no mis-cast. `translateAndScaleX` returns an `int`.

[2016-04-11 10:12] peterLaurence commented on #289
Oups i just realized, Mike must have responded to you in a rush ;)
Reverse translation don't concern your problem.

[2016-04-11 10:27] arso8 commented on #289
Yeah, I think the problem is what `north latitude > south latitude`, while `top absolute coordinate < bottom absolute coordinate`. And `contains(double x, double y)` return wrong result for relative position

[2016-04-11 10:38] peterLaurence commented on #289
Can you tell me how do you use `tileView.defineBounds` with lat1, lat2, lon1, lon2 names?
I typically use it like this : `tileView.defineBounds( lon1, lat1, lon2, lat2 )` with :
lat1 < lat2
and
lon1 < lon2

[2016-04-11 10:54] arso8 commented on #289
I use `tileView.defineBounds(lon1, lat1, lon2, lat2)` where `lon1 < lon2` and `lat1 > lat2`
If I set `lat1 < lat2` markers appear in wrong position

And then also `TileView.moveMarker( markerView, lon, lat )`

[2016-04-11 11:25] peterLaurence commented on #289
@arso8 In fact i do the same as you, my mistake. I indeed uses it with lat1 > lat2. And i get good positions.
As the signature is `TileView.defineBounds( left, top, right, bottom)`, this is obvious that the top of the map must have a greater longitude than the bottom.

[2016-04-11 11:28] peterLaurence commented on #289
There is no issue after all :)

[2016-04-11 11:44] peterLaurence commented on #289
@moagrius The doc of `TileView` may be misleading. Quoting from the doc :
[code]

I think it should be :
[code]

[2016-04-11 13:04] arso8 commented on #289
Actually issue is in `CoordinateTranslater.contains()` method
[code]
Which always return false if `lat1 > lat2`

[2016-04-11 13:06] peterLaurence commented on #289
@arso8 good catch!

[2016-04-11 20:02] moagrius commented on #289
yeah my mistake, need to `min` and `max` everything, will do soon

[2016-04-11 20:23] moagrius commented on #289
@arso8 does this fix it?

[code]

[2016-04-11 21:07] arso8 commented on #289
@moagrius It does. Thank you

[2016-04-11 21:07] moagrius commented on #289
thanks, I'll commit as soon as possible
On Apr 11, 2016 4:07 PM, "Arseniy Borisov" <notifications@github.com> wrote:

[2016-04-11 21:17] arso8 commented on #289
OK! And thank you guys for the great library! Keep up the good work :)

[2016-04-13 00:09] moagrius commented on #289
2.1.4 is now available on jcenter, and contains this patch.

Thanks for posting!

[2016-04-13 00:09] #287 closed

[2016-04-13 15:44] fusionlightcat commented on #290
Perfect! Thankyou!

[2016-04-13 15:49] #290 closed

[2016-04-14 13:29] ohoedneboe opened #293 "Request for feature: enable and disable given detail levels"
Hi again,
I am still expanding my app using the excellent TileView library.

One of the things I want to do is to enable the user to "lock" a map, and only give access to some detail levels, even if more are defined.
The reason I want to do this is that I fetch tiles from an external source.
The user can pre-fetch tiles for e.g. 3 zoom levels for a given map. So when the user is using this map, sh

[2016-04-14 20:12] peterLaurence commented on #293
What about setting the max scale at 0.25 when the map is locked using `TileView.setScaleLimits(minScale, maxScale)`, and/or having the logic of fetching tiles from external or local source in your implementation of `BitmapProvider`?

[2016-04-14 20:19] #289 closed

[2016-04-15 08:14] ohoedneboe commented on #293
The problem of setting max scale of 0.25 is that the library will not "enlarge" the tiles at the innermost zoom level, so you will not be able to zoom in as much as you want (hope this makes sense).
If I only make 3 zoom levels instead of 5, and set the scaleLimit to 0,2 the tiles gets up to 512x512 when you zoom in at max. This will be gone if you just set the maxScale to 0.25 and have 5 zoom lev

[2016-04-15 09:17] peterLaurence commented on #293
Ok so you would like to be able to zoom in despite the fact that further zoom level can't fetch data, so the last available zoom level tiles are upscaled. Have i understood right?

If so, i think that this should not require a change or addition to the `DetailLevel` selection, as it would clutter this part of the library just for this functionality.
Another way to get the upscale effect if you set

[2016-04-15 09:42] ohoedneboe commented on #293
I think I tried something like this, but the library kind of invalidates the whole view, and the zoom etc is reset, so it does not look that nice. The user should keep the current 'view' when pushing the button to lock and unlock the view.

[2016-04-15 11:01] AndrazP commented on #285
#294
Hi guys,
Adding "-keepattributes EnclosingMethod" to proguard rules suppresses this warnings.

[2016-04-15 11:59] peterLaurence commented on #285
Nice! Thank you.

[2016-04-15 14:57] ghousk opened #295 "Tileview not centring in Landscape mode"
We have implemented a solution using the TileView library for a mapping requirement. We set the TileView.setShouldScaleToFit(false); to false. As we would like to override this. The reason for overriding is that we need to in effect zoom out of the map at startup, else it goes of the screen. So we take the whole Map Region width and height and multiply that by 2. and use the resulting width and he

[2016-04-15 22:19] moagrius commented on #295
I'm sorry but I don't understand your question.  `setShouldScaleToFit(false)` just means you can scale the  TileView down to smaller than it's containing View.

Can you restate your questions, maybe with steps or graphics...

[2016-04-18 12:42] ghousk commented on #295
Hi,
Thanks for the response.  I am sorry I was not very clear about my query.  The Steps to reproduce in with reference to TileView are as follows

        mTileView.setMarkerTapListener(this);
        mTileView.setMarkerAnchorPoints(-0.5f, -0.5f);

        // Two scales of map, plus a point at which we show map makers - see the DetailLevelChangeListener
        mTileView.addDetailLevel(1f, null);

[2016-04-19 00:25] moagrius commented on #295
Thank you for the very clear follow up.  Unfortunately, there's a *lot* of math in `TileView` that uses the top-left coordinate as the baseline.  Other than hacking on some conditional logic if the visible pixles are smaller than the available screen dimensions, it would not be practical to have the map center in that single circumstance.

That said, you might be able to achieve the effect you wan

[2016-04-19 00:35] moagrius commented on #293
where are you at on this @peterLaurence - thoughts?

[2016-04-19 04:18] ohoedneboe commented on #293
[@peterLaurence](https://github.com/peterLaurence) solution does not quite work for me. I have spent some time on this, and either I can use my personal modified version of the library, as explained in the start of this thread, or I can modify the BitmapProvider, but I fear it can be too slow.
I can always give that a try though. I will come back to you.

[2016-04-19 10:05] ghousk commented on #295
Many thanks for your response, one minor query, if we use setShouldScaleToFit(true) is there a way to make the view smaller (to fit it in the screen size) while keeping it in centre.  Or it is still going to be always to the Start of the screen if it is zoomed out?

[2016-04-19 17:26] peterLaurence commented on #293
@ohoedneboe can you be more specific when you say that it does not quite work for you (the removal / addition of `DetailLevel`)?

@moagrius i have thought of another way to achieve this that requires a modification of the cleanup procedure. But i think that what @ohoedneboe is straightforward and simpler. But i don't know yet why my proposed solution doesn't satisfies @ohoedneboe.

[2016-04-19 18:50] nicoco007 opened #296 "Touch events don't work when adding to RelativeLayout"
I am trying to add a TileView to a RelativeLayout in an XML file by doing this:

    RelativeLayout relativeLayout = (RelativeLayout)findViewById(R.id.relative_layout);
    TileView tileView = new TileView(this);
    relativeLayout.addView(tileView);

but for some reason, the map appears, but I can't drag or zoom into it. Any ideas?

[2016-04-20 02:14] moagrius commented on #295
Yes, it's always going to be to based on top-left.

You could however, put it in another ViewGroup, like a RelativeLayout, and put that inside _another_ RelativeLayout, then use a ZoomPanListener (or just subclass) to listen for scale changes, and size the inner RelativeLayout accordingly...

[2016-04-20 02:20] moagrius commented on #293
@peterLaurence i think he didn't like it because when resetting detail levels, it requires and update, so everything gets redrawn...  is that right @ohoedneboe?

other than that, my thoughts are:

1.  i'm not sure it's a feature that many other people would find useful, but
2.  the changes required seem to be fairly minor, are not breaking, and can be satisfied with a pretty simple API

if there w

[2016-04-20 02:22] moagrius commented on #296
there must be something else going on...  i've used TileViews inside other layouts before...  I'm inclined to think that you need LayoutParams for size, but if you can see the map, that doesn't make sense...  can you post an MVP?

[2016-04-20 05:51] ohoedneboe commented on #293
Hi,
Yes it required a redraw, and it seemed like I lost the zoom level, so it was not very nice from a users perspective.

[2016-04-20 07:58] peterLaurence commented on #293
@moagrius we could also add the ability to have a custom `DetailLevelManager`, the current implementation being the base and default implementation. The `TileView`would have a `setDetailLevelManager(DetailLevelManager manager)`, and a user would be able to override `getDetailLevelForScale` method.
I am proposing this because if another user requires a different behavior for `DetailLevel` change, h

[2016-04-20 08:11] ohoedneboe commented on #293
This seems like a pretty good idea to me!

[2016-04-20 17:31] nicoco007 commented on #296
Nevermind, I'm an idiot. I had a transparent view on top of it by accident which was blocking everything. Sorry for bothering you.

[2016-04-20 17:31] #296 closed

[2016-04-20 21:23] moagrius commented on #293
@peterLaurence that sounds great - do you want to run this?

[2016-04-20 21:23] moagrius commented on #296
no problem, glad you got it worked out

[2016-04-20 21:27] peterLaurence commented on #293
@moagrius yes i can do it when I get time, most probably this weekend.

[2016-04-20 21:40] moagrius commented on #293
:thumbsup:

[2016-04-25 01:08] moagrius commented on #293
@ohoedneboe @peterLaurence has updated the `DetailManager` class so you can use the functionality you described with a simple subclass - you can see his changes in pull #297, which was merged into master in version 2.1.5, just now.

post back if you have any questions

[2016-04-27 03:22] IskuhiSargsyan opened #298 "Scale drawn text inside customView which is added to ScalingLayout"
`public class TestManager extends ScalingLayout implements DetailLevelEventListener {
    private DetailManager dm;
    private CustomView testActiveView;

    public TestManager(TileView tileView, Context context, DetailManager detailManager) {
        super(context);
        this.dm = detailManager;
        customView = new CustomView(context, detailManager);
        addView(customView);
    }

[2016-04-27 11:53] wideawake opened #299 "addDetailLevel with custom width and height not working"
Hi, if I add 4 tiles with different dimensions using the provided api method, all tiles will be of the same width.

Is there a way to fix this?

Thanks

[2016-04-29 22:59] moagrius commented on #299
no, all tiles must be the same size for any particular DetailLevel, although different detail levels can use different size tiles

[2016-04-29 23:02] moagrius commented on #298
I'm not sure about the rest of the code, but immediately I see this:

[code]

I don't think that's a method...  I think you you want `onScaleChanged`...

[2016-04-29 23:03] moagrius commented on #295
closing for inactivity, post back if you still need help

[2016-04-29 23:03] #295 closed

[2016-04-29 23:03] moagrius commented on #293
@ohoedneboe did this fix work out for you?  can i close this issue?

[2016-04-29 23:04] moagrius commented on #285
can we close this?

[2016-04-29 23:06] Dev-iL commented on #285
@moagrius is there a released version where the fix for the issue is included?

[2016-04-29 23:07] moagrius commented on #285
should be in 2.1.5

[2016-04-29 23:12] Dev-iL commented on #285
Then - by all means! :)

[2016-04-29 23:20] moagrius commented on #285
i'm not seeing any similar warnings on an app using 2.1.5, so closing it.

thanks @Dev-iL for posting!

[2016-04-29 23:20] #285 closed

[2016-05-02 07:31] ohoedneboe commented on #293
Yes it did work when I made a subclass of DetailLevel (to hold my enabled/disabled flag) and a subclass of DetailLevelManager (and override the getDetailLevelForScale). I also had to override addDetailLevel so I could add my override DetailLevel class.
One weakness is that when you make your own DetailLevelManager and set it to tileView, you also have to remember to do something like this (or noth

[2016-05-02 13:18] moagrius commented on #293
no, it's a simple value conversion.  if you are using something like an event point, you'd need to explicitly add the scroll position.  it's not appropriate to assume we need to supply the scroll position, since it's just as likely that a point will be passed in that does already include that.

regarding setting the DetailLevelChangedListener - good point, i'll create an issue

thanks for posting!

[2016-05-02 13:18] #293 closed

[2016-05-02 13:20] moagrius opened #300 "setDetailLevel should also call setDetailLevelChangedListener on TileView instance"
https://github.com/moagrius/TileView/issues/293#issuecomment-216123150

[2016-05-03 02:17] chrisbrossard opened #301 "Out of memory, zooming, ZoomPanListener"
Thanks for this wonderful library.  I have put together several mapping apps which display tiles downloaded from servers.  They have a fairly large number of zoom levels (up to 20).  I have also created a couple of buttons for "zoom in" and "zoom out" which double and halve the scale respectively.
I have noticed that if I set the initial zoom level (scale) so that the map is "zoomed out", the libr

[2016-05-03 09:49] peterLaurence commented on #301
Also, I have noticed that the current detail level is not set correctly when the "onZoomEnd" callback is called in the ZoomPanListener .

@moagrius Reminds me a discussion we had about one of my first PR. I talked about the potential OOM when zooming out on big maps (i explained why the `DetailLevel` lock while zooming can cause that). It would be nice to fix that while keeping the lock.

[2016-05-04 01:36] moagrius commented on #301
Not related to TileView, but I run into OOME all the time still, especially when supporting old devices - Android Devices have a limited heap, and bitmap manipulations are one way to run out in a hurry.  On one hand, I'm inclined to say that if you're getting OOME when zooming out, your probably just need more small detail levels, but on the other hand, if you've got something in mind @peterLauren

[2016-05-06 11:52] dibsee opened #302 "Detect which marker has been tapped"
Hi,
So in my app two markers are displayed and I want a dialog to be displayed when I tap one marker but not the other. Is there a way I can set a MarkerEventListener to just one? or to detect which marker has been tapped and display a popup if it's the right marker?. I hope my question is clear.

[2016-05-06 12:23] ohoedneboe opened #303 "Ability to invalidate/reset bitmap used for tile (request for new feature)"
Hi again guys, and sorry to bother you once again!

Progress on my app using your library is good, but now I want to add one feature that requires some modifications to your library (or at least I have not figured out how to do this without doing so).

The thing is that the user can turn on and off downloading of tiles over the network. The app also has a function to cache all tiles up front, and

[2016-05-07 11:34] dibsee commented on #302
Figured it out by checking the View, sorry :)

[2016-05-07 11:34] #302 closed

[2016-05-07 18:17] moagrius commented on #303
so i've spent some time thinking about this and reviewing existing strategies.  i'm not sure if a public API for exactly what you're doing is appropriate, but maybe some method like `redecodeTiles` might be useful, that just recreates each existing tile as if it were not drawn.  i think with some simple flags and custom `BitmapDecoder`, you could get where you want to be.  sound reasonable?

eithe

[2016-05-07 20:17] peterLaurence commented on #301
I found my comment about a related issue. It explains how to reproduce it and talks about the related code. Even though this was valid for TileView v2.0, there is a good chance that it still applies (i don't think that `DetailLevel` change logic was touched) :

[code]

And there we have it : the requestRender that does nothing! :)

The final fix mentioned at the end was never integrated.
To sum up

[2016-05-07 20:35] peterLaurence commented on #301
So about the OOM,

@chrisbrossard could you try to disable the `DetailLevel` lock (comment the `mDetailLevelManager.lockDetailLevel();` and `mDetailLevelManager.unlockDetailLevel();` in `onZoomBegin` and `onZoomEnd` respectively). Make your testings and report back if you have still the OOM. If you haven't, it will give a good hint on what's happening. And we will discuss whether this needs a libr

[2016-05-07 21:33] chrisbrossard commented on #301
I added the calls to unlockDetailLevel() in onZoomBegin and onZoomEnd and the OOM problem has disappeared.

[2016-05-07 21:45] peterLaurence commented on #301
@chrisbrossard it's another (yet strange) way to do it.
Ok so that's what i expected. Can you tell us the scales of your detail levels ?

[2016-05-07 22:16] chrisbrossard commented on #301
myTileView.addDetailLevel(1.00000000000000f, "20", TILE_WIDTH_PIXELS, TILE_HEIGHT_PIXELS);
        myTileView.addDetailLevel(0.50000000000000f, "19", TILE_WIDTH_PIXELS, TILE_HEIGHT_PIXELS);
        myTileView.addDetailLevel(0.25000000000000f, "18", TILE_WIDTH_PIXELS, TILE_HEIGHT_PIXELS);
        myTileView.addDetailLevel(0.12500000000000f, "17", TILE_WIDTH_PIXELS, TILE_HEIGHT_PIXELS);
        myTi

[2016-05-09 07:39] peterLaurence commented on #301
Apparently, you have created every detail levels for scales between 1 and 1/2^19.

@moagrius his case illustrates the OOM risk i was previously talking about. I personally never encountered it, probably because i have much less detail levels (around 7) in my app. So my thought is that we could add an option like `setShouldUpdateDetailLevelWhileZooming`. The default would be `false`. When true, we

[2016-05-10 00:57] moagrius commented on #301
@peterLaurence the first option sounds reasonable, at least as a bandaid until we can really consider the best way to handle it...  ideally, we'd be writing to a single Canvas and just invalidating where appropriate, instead of stacked layers, but that's a _big_ ask, and not one i have time for now...

do you have the bandwidth to handle this one (your first suggestion, `setShouldUpdateDetailLevel

[2016-05-10 07:44] peterLaurence commented on #301
@moagrius i will do it soon.

[2016-05-10 15:37] moagrius commented on #301
thank you sir

[2016-05-10 18:10] peterLaurence opened #304 "Real to relative coordinates"
I am embarrassed because i just found an error in the newly added `translateAbsoluteToRelativeX` and `translateAbsoluteToRelativeY`, despite the code review.
I was astonished to get the same relative coordinates whatever the real coordinates were given to those methods. Look at this :
[code]

`y` and `mHeight` are `int`s. And, in a normal use case (touch inside the TileView), `y` < `mHeight`. So `

[2016-05-10 22:11] moagrius commented on #304
great job finding that @peterLaurence...  could we just add that as a second signature, then have the `int` version call the `float` version?  e.g.,

[code]

so no breaking change...?

[2016-05-10 22:13] peterLaurence commented on #304
And maybe setting `int` version as deprecated?

[2016-05-10 22:18] moagrius commented on #304
I actually don't mind keeping the intended version since it pipes to the
other...  maybe add 0.5 as an offset...
On May 10, 2016 5:13 PM, "peterLaurence" <notifications@github.com> wrote:

[2016-05-10 22:19] peterLaurence commented on #304
Ok then.

[2016-05-10 22:22] peterLaurence commented on #304
Anyway, most people follow the samples and have detail level scales between 0 and 1 so the int version has no issue.

[2016-05-10 22:24] moagrius commented on #304
:thumbsup: (BTW, "intended" was supposed to be "int"...  autocorrect...
what I get for trying to do serious things on my phone)
On May 10, 2016 5:22 PM, "peterLaurence" <notifications@github.com> wrote:

[2016-05-10 22:25] peterLaurence commented on #304
:) i understood

[2016-05-10 23:54] peterLaurence commented on #304
In fact, i realize that this is not the only place in the library where the use of `int` is suitable for detail levels defined with scales between 0 and 1.
When we decide to have scales starting at 1 (e.g 1 ; 2 ; 4 ; ... ; 2^n), as we have to set the size the map equal to the size at scale = 1, we typically have a small dimension (say 200 x 300 px). With detail levels defined accordingly, the tile

[2016-05-10 23:59] peterLaurence commented on #304
Now i will get some rest, i get back tomorrow.

[2016-05-11 00:02] moagrius commented on #304
it's true, i always envisioned "1f" as "100%" - the full size of the map, and nothing higher - that said, i still don't really understand the issue...  maybe you can give repro steps tomorrow?

but for now, get some rest!  as always thanks for your help and attention

[2016-05-11 06:00] ohoedneboe commented on #304
Just a quick answer on the following question early in the thread:
"So, @ohoedneboe, i suppose you have your own implementation of those methods, right? Because right now, the official methods can't work."

Yes, I still have my own implementation of this, as it worked great, also with pan. Of course my problem will be that I have to merge in my changes as new versions of TileView comes out, but fo

[2016-05-11 11:52] peterLaurence commented on #304
@ohoedneboe when the fix will be merged, you will be able to do that :
[code]

[2016-05-14 19:51] #304 closed

[2016-05-14 21:40] peterLaurence commented on #301
@chrisbrossard TileView 2.1.6 is out and you can you can use `TileView.setShouldUpdateDetailLevelWhileZooming( true )` to avoid OOM in your particular case. With that option used, could you make some tests and report back if you still have some issues (like the "getBitmap" callback not being called..)?

[2016-05-15 06:56] chrisbrossard commented on #301
@peterLaurence I removed the calls to unlockDetailLevel() and changed the module Gradle file to include version 2.1.6.  The results are that I can now start the library with the map "zoomed out" and there is no OOM error.  The zoom wraparound also now works correctly.  I also noticed that the tiles now download very quickly.  The problem of getBitmap not being called sometimes when zooming out sti

[2016-05-15 09:09] peterLaurence commented on #301
At he moment, we need to understand what's really happening. I have an idea of the root cause but i need to be sure. So, to sum up :

- on a zoom out, some tiles are not rendered at the destination scale
- a pan can fix that and the library renders the missing tiles (to confirm that, don't use the wrap around zoom because you will end up at the minimum scale where you might be able to pan).

Corre

[2016-05-15 12:22] chrisbrossard commented on #301
What you have written is correct.

[2016-05-15 12:52] peterLaurence commented on #301
@chrisbrossard As i can't reproduce the issue on my side, i'd like to make a new commit in my personal fork of TileView in a new branch. Will you be able to compile and test it?
It's simple, you can generate the aar by compiling the project then import that aar but temporarily remove the current 2.1.6 in gradle file.
Please confirm this is ok for you.

[2016-05-15 13:13] chrisbrossard commented on #301
If I understand correctly, you want me to download the source for your test version of the library, then use Android Studio to create an Android Archive Library, then manually import that into my project after removing the standard 2.1.6 version of the library from my project.  Yes, I think I can figure out how to do that.

[2016-05-15 13:23] peterLaurence commented on #301
Ok good. Here is the [link](https://github.com/peterLaurence/TileView/tree/fix%23252) to my TileView fork, branch "fix#252".
You can try this. I hope it fixes your issue.

[2016-05-16 02:59] chrisbrossard commented on #301
Yes that has fixed the zoom out issue.

[2016-05-16 09:33] peterLaurence commented on #301
@chrisbrossard thanks for testing and feedback.

@moagrius new PR incoming!

[2016-05-16 10:23] YaoYoYi opened #307 "How to show the location?"
i want to show my location in the tileview , now i add the location in the marklayout, but have some problem, so i want to show it to alone layer... how to do it? thanks..

[2016-05-16 19:20] moagrius commented on #301
nice work

[2016-05-16 19:27] moagrius commented on #307
i'm sorry, i don't understand your question.  please provide specific details, steps to reproduce, etc

[2016-05-16 21:39] #298 closed

[2016-05-16 21:39] #299 closed

[2016-05-17 09:32] YaoYoYi commented on #307
sorry, my mean's ,i get my location by gps, so i want show my location in the tileview, like  the google map's show your location...

[2016-05-17 23:01] moagrius commented on #307
so you'd define the lat/lng bounds, then get the gps location, then use `addMarker` to show it...

again, i'm not sure what you're asking - please take your time and be as detailed as possible

[2016-05-21 09:01] peterLaurence commented on #301
@chrisbrossard TileView 2.1.7 will be published soon. This will include the fix you got from my fork.

[2016-05-21 16:38] chrisbrossard opened #308 "Failed to resolve: com.qozix:tileview:2.1.7"
I'm getting the above Gradle error when trying to build my project in Android Studio.  Am I doing something wrong?

[2016-05-21 16:41] peterLaurence commented on #308
TileView 2.1.7 is not released yet (as i said in #301). Mike will do it whenever he can.

[2016-05-21 16:54] moagrius commented on #308
I'm out atm, will publish as soon as I get back to my desk

[2016-05-21 18:06] chrisbrossard commented on #308
Might be a good idea to refrain from updating the readme until the new version is published.

[2016-05-21 18:55] moagrius commented on #308
yeah we're aware, we had a miscommunication, it happens.

2.1.7 is published to jcenter

[2016-05-21 18:55] #308 closed

[2016-05-21 18:57] #307 closed

[2016-05-24 14:07] datishans opened #309 "feature request: add a single tap event when clicked on the map but not marker or hotspot"
Currently (2.1.7) TileView will always fire a onSingleTapConfirmed() when a single tap is performed.
This also happens when a Marker or Hotspot is tapped.

We want to detect a single tap but only when you tap outside Markers or Hotspots: We’d like to use this event to present navigation controls, on top of the TileView (toolbar, buttons etc).

A proposed fix would look something like this:

    pu

[2016-05-24 18:10] peterLaurence commented on #309
Actually there is an _ugly_ way to achieve this without modifying the lib. The main idea is that you can define a `MarkerTapListener` and a `HotSpotTapListener` that will be called on `processHit()` if the tap is inside a marker or a hotspot. Those can be used to set flags on your own `TileViewExtended` that extends `TileView` and overrides `onSingleTapConfirmed`.

The overridden method would be s

[2016-05-24 19:21] datishans commented on #309
Thought about that solution as well and like you said, it's a bit ugly.

I don't mind "a bit ugly" from time to time, but this solution could be a problem.
What happens when the `onSingleTapConfirmed` comes in _before_ `MarkerTapListener` and `HotSpotTapListener` set their respective booleans. Is it a possibility (now or in the future) that
the listeners fire in a different order?

If so, modifyin

[2016-05-24 20:13] peterLaurence commented on #309
In proposal the listeners are called after the 'onSingleTapConfirmed' event.
Even if the listeners are called because of previous touch events, ultimately, in the overridden 'onSingleTapConfirmed', the listeners are called so the booleans should have the correct values.
Unless I am missing something..

Anyway, we both agree that this is not elegant.
@moagrius what are your thoughts?

[2016-05-24 21:25] peterLaurence commented on #309
@datishans After thought i think that you should just extend `TileView` and override 'onSingleTapConfirmed' with the exact same implementation you gave in the OP.
There is no worry about doing that. In fact, this is `TileView`'s design philosophy regarding touch event listeners. If you ever need something different than the default implementation, just extend `TileView` and override what you need

[2016-05-24 23:05] moagrius commented on #309
I agree with Peter, that's the best option for your use case.  Good to know however that it might be useful to fake "consume" the touch event for things like that (and bring our emulated touch receivers for markers and hotspots more in line with expected event mechanics).

[2016-05-25 07:06] datishans commented on #309
I think the OP solution is also a proper / good-enough solution.

We'd still need the return-boolean for the processHit()-methods for this to work.

[2016-05-25 12:31] prasannakumark opened #310 "How to detect tap happened on tileview or markerview"
Hi All,

I would like to get event once user tap on the non marker filed, is there methods like onMarkerTap.
How i can achieve this feature. If you need any clarification/informations please let me known.

Thank's
Prasanna

[2016-05-25 15:31] peterLaurence commented on #310
@moagrius What a coincidence :D

@prasannakumark Someone just asked the same question, see #309

[2016-05-25 15:34] peterLaurence commented on #310
@moagrius What a coincidence :D

@prasannakumark Someone just asked the same question, see #309

[2016-05-25 21:51] moagrius commented on #309
I'd say this isn't a feature that's going be used enough to justify inclusion, especially when it can be pretty easily accomplished in a subclass, per @peterLaurence original suggestion (i don't even think it's that ugly)

the listeners fire in a different order?

It doesn't matter if the lib changes, look closelly at what Peter suggested:

[code]

By calling `super.onSingleTapConfirmed(event)` be

[2016-05-25 21:53] moagrius commented on #310
@peterLaurence i think your original suggestion is exactly what's needed for both

@prasannakumark you should be able to use the same method, see #309 like Peter said

[2016-05-27 18:13] elliott-king opened #311 "Tiles overlapping/cut off"
Hello!

I am having a problem with tiles being cut off when the library is syncing them together. The bottoms of most tiles will be cut off, as is the left hand side. For example, here are some tiles for the top left corner, and the resulting image I receive:
![tile_1_1](https://cloud.githubusercontent.com/assets/8884571/15616725/93cca71a-2413-11e6-922b-85a9ab201d91.png)
![tile_1_2](https://cloud.

[2016-05-27 18:24] peterLaurence commented on #311
You are using `TileView.addDetailLevel( float detailScale, Object data )` which set the tile size to its default : 256.
Try this instead : `tileView.addDetailLevel(1f, "tile_%d_%d.png", 300, 300);`

[2016-05-27 18:34] elliott-king commented on #311
Thank you very much.
I would suggest changing the Quick Setup to not make 256x256 sound optional for that setup.

[2016-05-27 18:53] peterLaurence commented on #311
@moagrius he is referring to the Quick Setup section in the readme. And indeed, i think we should show the use of the overloaded `addDetailLevel`.
Next time i make a PR i will do that quick change.

[2016-05-27 22:22] moagrius commented on #311
:thumbsup:

[2016-05-28 15:53] datishans commented on #309
Ok, Will try this next week when I get the chance

[2016-05-28 16:14] elliott-king commented on #311
Additionally, your Quick Setup says the following:
[code]
This will give you an off-by-one error, as the files should be starting from zero. Your wiki entry for building tiles is correct, though.

[2016-05-29 10:32] peterLaurence opened #312 "Improve tile render"
Hi Mike,

Today i was working on USGS maps support for my personal app (which btw i should release on github soon). During my researches i found this android app : [PDF Maps](http://www.avenza.com/pdf-maps). By curiosity, i installed it on my phone (its free for non commercial use) and i tested it with this GeoPDF : [AustinMap](https://dl.dropboxusercontent.com/u/644189/TX_Austin_East_20160225_TM_

[2016-05-29 14:50] peterLaurence commented on #312
I have been thinking about this and i think i have an idea that could produce the behavior seen in PDF Maps. We could pre-load tiles from the n-1 or n-2 detail level around the visible viewport. The user wouldn't see those pre loaded tiles except during a pan. This is slightly different from using `TileView.setViewportPadding` because in that case the tiles loaded around the visible area are upsca

[2016-05-29 17:44] moagrius commented on #312
hey Peter,

my guess is that they're using the built-in PDF viewer (which has pinch to zoom, fling, etc, built in), and IIUC both the PDF viewer (and even WebViews) use a form of "tiling" under the covers.  as far as the edges, i'm pretty sure that's just a large "downsample" of the whole image, and they draw on top of it - of course i'm not sure, but i don't think they're using individual downsam

[2016-05-29 17:55] peterLaurence commented on #312
The PDF is the entry file, as this USGS now delivers their map through this format.
I am almost sure they don't use the builtin PDF viewer. But please test this app if you have little time, you will have a better clue.

[2016-05-29 17:59] moagrius commented on #312
i did take try it out before my comment above, using the same map you linked...  that said it's hard to tell exactly what's going in behind the scenes....  I might plug into AS and see if I can find out any more at some point.  anyway, yeah everything in my comment was after trying it out

[2016-05-29 18:09] peterLaurence commented on #312
Ok good to know. Yes it would be interesting to know what is happening behind the scene.

[2016-05-29 18:11] moagrius commented on #312
you're always welcome to try new ideas, and I'm happy to help if I can

[2016-05-29 19:17] peterLaurence commented on #312
After all i think you're right about the downsample of the whole image.
And further testings showed me that while panning the whole screen gets briefly blurry (before the tiles are loaded). So i guess that to have to same behavior we should just add a downsample image and perhaps increase the render timeout parameter (which is set to 10ms in fast render mode).
I will give it a try when i get time.

[2016-05-29 19:33] peterLaurence commented on #312
Ok that's confirmed. I just tested in my own app. I just used : `tileView.getTileCanvasViewGroup().setRenderBuffer(60);` and a downsample image.
I get something similar : to stutter at all even during long fling. Good to know. So i am closing this.

[2016-05-29 19:33] #312 closed

[2016-05-29 19:43] moagrius commented on #312
awesome, gtk, thanks for keeping an eye out

[2016-05-30 14:25] Deliganli opened #313 "feature request: rotateable map"
Hello all,

I will be spending some time with rotating complete map from a certain anchor point including all the map markers and so on. Would you direct me on how i should do this? So far i am rotating the map somehow but all the tiles on the viewport are not loaded correctly and also if you scroll to the borders it is not rotating anymore.

My way of rotating the canvas basically is from the Til

[2016-05-30 21:50] moagrius commented on #313
Thanks for your willingness to contribute, but please understand that rotation is _extremely_ difficult.  `canvas.rotate` is just going to shift pixels, nothing else.  Determine which tiles to decode, positioning markers, _managing rotated touch delegates for markers and callouts, placing _and reacting to_ hotspots, scroll limits, clipping, drawing paths, etc, is all based on a fixed x-y coordinat

[2016-05-31 14:19] iCRG opened #314 "Tileview not centring"
Hi all,
           Is there anyways, I can set the tileView to centre bcz i wanted to show full tileView where tileView width must be smaller than the available screen width. Currently tileView is starting from top Left corner and taking full screen even though tileView width is smaller then screen width.

[2016-05-31 14:23] Deliganli commented on #313
Thank you for your detailed message, i will spend some time on it to look if i can find a global solution which can be integrated to the modules you have stated above.

[2016-05-31 15:33] peterLaurence commented on #314
Duplicate of #245?

[2016-06-01 00:00] moagrius commented on #313
:thumbsup:

[2016-06-01 00:01] moagrius commented on #314
looks like it.  i should probably publish a wiki at some point to do it with modifying the core, in another layout...

[2016-06-01 07:15] iCRG commented on #314
But even though tileView shows smaller than available space, it listens for tap even outside the tileView which u can think as a whitespace. There is any way to atleast stop tap listening which happened outside the tileView.

[2016-06-04 07:48] tsuijten opened #315 "Ability to tweak multi threaded image loading"
First of all, thanks for this great library!

I'm using TileView to display large paintings. The tiles are downloaded from the internet. I have `setShouldRenderWhilePanning` set to `true` because it offers the best user experience. Sometimes while flinging the animation gets jaggy.

I feel this might be because there are multiple thread working on downloading the images. Maybe when using a single

[2016-06-05 04:59] moagrius commented on #315
My initial thoughts are that this sounds reasonable and could be useful for fine-grain control.  Feel free to issue a PR and we'll take a look.

FWIW - and take this with a grain of salt - it used only a single background thread (`AsyncTask`, actually) until 2.1, and performance is much worse.  That said, I definitely wouldn't warn you off from taking a shot.

Good luck - look forward to seeing wh

[2016-06-05 09:01] peterLaurence commented on #315
I also saw that but only under certain particular circumstances. I did some investigations and lead me to the conclusion that the cleanup procedure is sometimes too aggressive. But then, it may depend on the device's performance.
I don't think this is a multithread vs one thread issue.

More precisely, when the scale is a little greater than 1 / 2**n, the tiles from the n-1 detail level are loaded

[2016-06-05 18:59] tsuijten commented on #315
I agree that it mostly occurs when at a specific zoom level when there are many tiles in view. It might also have to do with the cleanup indeed. It think it would be a good idea to decouple the `TileRenderPoolExecutor` maybe I'll go ahead with that so I can play around with a different implementation. Of course I could also start by forking and playing with the hardcoded threading variables.

I th

[2016-06-05 19:58] tsuijten commented on #315
I've been playing around some more. At first I wanted to use Fresco to load the `Bitmap` but this did not seem trivial. Then I used [Glide](https://github.com/bumptech/glide) to load the images instead of Picasso.

Now things are much smoother when flinging the image! 🎉 Don't really know what happend there, maybe because Glide accounts for loading images inside an [async job](https://github.com/bu

[2016-06-05 20:09] peterLaurence commented on #315
Interesting. I presume you used it in your `BitmapProvider` implementation. Could you post it here?

[2016-06-05 20:13] tsuijten commented on #315
These are the `BitmapProvider`'s I tested with (Kotlin code btw)

[code]

[2016-06-05 20:15] peterLaurence commented on #315
Thanks! Also, i'd like to know whether the tiles you load are local or on the web/distant server.

[2016-06-05 20:19] tsuijten commented on #315
They are loaded from a webserver

[2016-06-05 20:20] peterLaurence commented on #315
Ok. I will try Glide on local tiles as soon as i get time, to see if there is a difference.
Anyway, thanks for the feedback :+1:

[2016-06-06 06:30] tsuijten commented on #315
Okay, I found what was making Glide more smooth. By default Glide loads images as `RGB_565` while Picasso loads them as `ARGB_8888`.

When I changed Picasso to load the images as `RGB_565` (which takes half the memory) it was also running much more smoothly.

[2016-06-06 08:07] roby2001 opened #316 "Use tiles provided by localhost."
I have a local folder with that has public access for some tiled images, I'm trying to use TileView to display them.

Following the docs I got the following code :

    @Override

    protected void onCreate( Bundle savedInstanceState ) {

        super.onCreate( savedInstanceState );

        TileView tileView = new TileView( this );

        tileView.setSize( 1920, 1080 );  // the original size

[2016-06-06 14:56] peterLaurence commented on #316
From the doc :

Do colors fidelity may be altered. Tough the fact that is uses twice less memory explains the performance gains.

[2016-06-06 14:56] peterLaurence commented on #315
From the doc (RGB_565) :

Each pixel is stored on 2 bytes and only the RGB channels are encoded: red is stored with 5 bits of precision (32 possible values), green is stored with 6 bits of precision (64 possible values) and blue is stored with 5 bits of precision. This configuration can produce slight visual artifacts depending on the configuration of the source. For instance, without dithering, t

[2016-06-06 15:08] peterLaurence commented on #316
You have to define your own `BitmapProvider`, that will process your url.

See the section "Use a third party image loading library like Picasso, Glide, UIL, etc" of the readme.

[2016-06-06 19:47] moagrius commented on #315
fwiw I _always_ use 565

[2016-06-06 21:39] peterLaurence commented on #315
I can confirm this has a huge impact on performance, even for local tiles! No more stutter even in worse conditions.
This is getting better and better :dango:

[2016-06-07 05:32] tsuijten commented on #315
That's great! I know it may have some impact on te quality of the image. But I don't think the users will notice this. For me the extra performance and decreased memory pressure is definitely worth it.

Might this be noteworthy in the docs somewhere?

[2016-06-07 07:31] peterLaurence commented on #315
Although `BitmapProviderAssets` already uses RGB_565, i believe this could be mentioned somewhere that this is likely to have a positive impact on performance over ARGB_8888.

[2016-06-07 08:47] roby2001 commented on #316
Thanks a bunch, missed that fact out :+1:

[2016-06-07 08:47] #316 closed

[2016-06-08 07:41] peterLaurence commented on #315
After some tests with different maps, i agree with @tsuijten that users would unlikely notice the difference (i personally don't see any, but i'm not a specialist..).

[2016-06-08 21:43] moagrius commented on #315
do i need to do anything on this or do you have it covered peter?

[2016-06-08 21:46] peterLaurence commented on #315
Well I intend to mention this in the readme, or in the wiki. As you wish.

[2016-06-08 21:46] moagrius commented on #315
go for it 👍

[2016-06-08 21:48] peterLaurence commented on #315
Ok right now I can't but I will think about it.

[2016-06-08 21:50] moagrius commented on #315
np, or I can, just lmk if I should do something...  thx
On Jun 8, 2016 4:48 PM, "peterLaurence" <notifications@github.com> wrote:

Ok right now I can't but I will think about it.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/moagrius/TileView/issues/315#issuecomment-224739765>,
or mute the thread
<https://github.com/notificati

[2016-06-08 21:51] peterLaurence commented on #315
Ok np.

[2016-06-09 14:41] peterLaurence commented on #315
I have created a new topic in the wiki, called "Performance hints". I talked about RGR_565.
I will add other hints later.

[2016-06-09 19:55] tsuijten commented on #315
Great! Thanks for your help!.

[2016-06-10 07:10] desteve opened #317 "Marker shrinks when clicked"
I've detected an issue while clicking on markers. I've set a markerTapListener to the TileView, and I hold a reference to the marker (view) clicked, so I change between an image when it's clicked and another one when it's not.
Funny thing is that, every time I change the marker image, it's shrinks. So I end having an almost unable to see marker.

The way I load the image into the marker is like th

[2016-06-10 20:08] moagrius commented on #317
not sure - try `requestLayout` on the marker or the `MarkerManager` after changing the image

[2016-06-13 08:03] desteve commented on #317
Finally I've found the problem. Setting _setShouldUpdateDetailLevelWhileZooming_ to **false** does the trick. I had it set to true and this was what caused the issue.

Thank you!

[2016-06-13 13:56] peterLaurence commented on #317
That doesn't sound good. `setShouldUpdateDetailLevelWhileZooming` set to true shouldn't cause that issue. I need to look into this.

[2016-06-13 18:25] tsuijten commented on #314
I also need the image to center when setShouldScaleToFit = false. Additionally I don't want the image getting smaller then the canvas, which is currently possible.

I'll try to fix what I want and create a PR.

[2016-06-14 06:53] tsuijten commented on #245
I added a PR to allow different scale modes and added centering: https://github.com/moagrius/TileView/pull/318

[2016-06-14 07:15] tsuijten opened #319 "Rendering bugs"
Occasionally when zooming I see rendering bugs:
- No tiles drawn
- Subset of tiles not drawn

I attached a screenshot showing an example. This happend when quickly zooming out, my screen became blank (no tiles were drawn). Then when slowly zooming in again some tiles showed up but not all of them.

I've been trying to figure out what's going on myself, but it's like finding a needle in a haystack

[2016-06-14 07:30] peterLaurence commented on #319
Have you tried `TileView.setShouldUpdateDetailLevelWhileZooming( true )`? It may fix that issue.

[2016-06-14 08:10] tsuijten commented on #319
I have `setShouldUpdateDetailLevelWhileZooming` set to `true`. It's actually quite easy to reproduce and I get inconsistent results frequently when quickly zooming in and out.

Some more examples, in these examples I added a background images which clearly illustrates what's going wrong (I also added some debug drawing lines to show the tiles):
![screenshot_20160614-092018](https://cloud.githubuse

[2016-06-14 12:53] peterLaurence commented on #319
I think that the tiles drawn at wrong zoom level is a side effect of setShouldUpdateDetailLevelWhileZooming set to true.
Can you confirm that you don't have tiles drawn at wrong zoom level with this option set to false?

[2016-06-14 13:11] peterLaurence commented on #319
Also, about the missing tiles, have you tried the last version from source? If you look at my last commit, it fixes #252 which looks like your issue.

[2016-06-14 14:22] tsuijten commented on #319
I have the latest code. Even with `setShouldUpdateDetailLevelWhileZooming` set to false I have issues with tiles not rendering. So #252 doesn't seem to be fixed.

[2016-06-14 14:38] peterLaurence commented on #319
Well i have never seen such an issue. The root cause of your issue is probably different from #252 (which, i admit, has a too broad description title).
Are you working with local tiles? It looks like you're testing with the demo app, so the tiles are contained in an asset.

[2016-06-14 14:42] tsuijten commented on #319
I'm working with the painting demo straight out of the box.

I've been playing around, if I completely remove the `TileRenderThrottleHandler` and call `beginRenderTask` directly from `requestRender` my issues seem to go away.

[2016-06-14 15:38] peterLaurence commented on #319
Haha you remind me when i discovered TileView.. the first thing i did was to remove the `TileRenderThrottleHandler`.
Anyway, this doesn't sound good. Does the version you're testing includes your PR? Are you using `setShouldScaleToFit( true )` or something else?
In fact, you should tell us exactly how you use TileView so we can try to reproduce the issue.

[2016-06-14 16:09] peterLaurence commented on #319
Sorry but i just tried with the latest version, and i couldn't reproduce it.

[2016-06-14 20:17] tsuijten commented on #319
I'm testing with the `master` version from your repo (so without my changes). I regularly get render errors when zooming in and out (regardless of `setShouldRenderWhilePanning` is true or false). Especially when keeping your fingers on the screen and making zoom in and out gestures repeatedly.

So there must be going something wrong somewhere. I'll try to pinpoint myself what could be going wrong,

[2016-06-14 20:24] peterLaurence commented on #319
Oh... but at the time i am writing this, the `master` branch of my repo is 10 commits behind the origin one. So you don't have the latest version.
I am updating my repo right now.

[2016-06-14 20:26] peterLaurence commented on #319
Done!

[2016-06-14 20:43] tsuijten commented on #319
Ah, I get there is some confusion. I don't see any new commits here on the master branch: https://github.com/moagrius/TileView/commits/master

Exactly what version should I be testing?

[2016-06-14 21:03] peterLaurence commented on #319
I tested the last version of @moagrius `master`, which is now the same as my repo's `master`.

[2016-06-15 07:28] tsuijten commented on #319
I've been digging around for a couple of hours, haven't found it yet... I'm pretty sure there is a bug in there somewhere that causes this. It's easier to reproduce when `setShouldUpdateDetailLevelWhileZooming` is set to true.

[2016-06-17 15:03] neoadn opened #320 "How to add markers with different sizes.?"
I was searching on google and wiki, but i don't find nothing, i want to add markers with different sizes using LayoutParams, there is any way?

I am changing the size using images with different pixels. But I want to use one icon with 100x100 on a ImageView with 40dp.

Thanks.

[2016-06-20 00:24] moagrius commented on #320
markers by default will only be their measured dimensions, so you'll need to either wrap them in an intermediate or override `onMeasure` for your marker's view class

[2016-06-20 00:25] moagrius commented on #319
nobody's waiting on me for any of this, right?  please @ me if i need to be involved - ty

[2016-06-20 16:00] peterLaurence commented on #319
@moagrius i'm stuck here. Basically he has an issue i can't reproduce, and i have suggested him all the workarounds i could think of.

[2016-06-20 16:24] peterLaurence commented on #319
@moagrius @tsuijten Oh dear.. in fact i just reproduced the issue.

To reproduce, from master, in `LargeImageTileViewActivity`, do the following :

- comment out `tileView.setShouldLoopScale( true );`. Double-tap zoom-out will be useful.
- add `tileView.setShouldScaleToFit( false );`
- change `tileView.setScale( 0 )` to `tileView.setScaleLimits(0.1f, 1f)`

Then double-tap several times to zoom-in

[2016-06-20 16:32] peterLaurence commented on #319
According to my tests, it doesn't happen if we use `tileView.setShouldScaleToFit( true )` (the default).

[2016-06-20 17:29] peterLaurence commented on #319
Found a fix. But i need to be sure this is the right way to fix it.

[2016-06-20 17:48] tsuijten commented on #319
I'm pretty sure it also happens when `setShouldScaleToFit` is set to true, only it's harder to reproduce then. I'm invested in fixing this issue since TileView is gonna play a large role in a new app I'm creating. So far I've tested various thing but I haven't found the source of the bug yet...

@peterLaurence @moagrius Maybe you guys can shoot me an email at thijs[at]q42.nl maybe we could get in

[2016-06-20 20:21] peterLaurence commented on #319
Don't worry we will fix that.

[2016-06-20 21:31] peterLaurence commented on #319
@tsuijten I created to branch try_to_fix-#319 on my fork :
https://github.com/peterLaurence/TileView/tree/try_to_fix_%23319

I fix the issue for me. You can test it if you want.
I am not quite satisfied with the way i've done this. But this is the best i got for now.

My understanding of the problem is that the last drawn `TileCanvasView` is being cleaned up while it should not. The workaround i i

[2016-06-21 00:38] moagrius commented on #319
Hey guys...  so my feelings are:

1.  I don't want to interfere if you guys have momentum - just LMK if so
1.  I don't think your fix is terrible @peterLaurence - it does feel like you're working around some old bad decisions as it evolved (mostly by me), but I think it's OK
1.  @tsuijten do you have any working fix on a branch (or even a strategy)?
1.  This issue would be fixed if I finally did t

[2016-06-21 06:03] tsuijten commented on #319
Hi Mike,

I don't have a fix, I've been trying various things to get a sense of why the bug occurs. But I'm new to the codebase so I haven't found/fixed anything yet.

If you think this problem has a root cause that should be fixed like you explained at `4.` I would definitely say "got for it"!

In the mean time I'll test @peterLaurence's fix to see if that solves my problem for now.

[2016-06-21 07:22] peterLaurence commented on #319
@moagrius Excellent news! I don't mind spending a little time fixing this even if it will be replaced by a new major version. As usual, you can count on me for code review, tests, etc.

[2016-06-22 02:43] firefly2442 opened #321 "Is the FAQ on slideToAndCenter and moveToAndCenter out-of-date for 2.X?"
Is the [FAQ](https://github.com/moagrius/TileView/wiki/FAQ) on `slideToAndCenter` and `moveToAndCenter` out-of-date for 2.X?

[2016-06-22 20:58] moagrius commented on #319
ok, i'll get on it this weekend - not sure how long it'll take but i'll keep you posted.  thanks both

[2016-06-22 20:58] moagrius commented on #321
do you mean about scrolling before layout is complete?

[2016-06-22 21:57] firefly2442 commented on #321
Both the centering methods use the dimensions of the View to figure out where center should be. This is not available during onCreate (or similar methods); height and width will be returned as 0, so no offset will be applied. This is not a TileView limitation, it how the Android framework layout mechanism is ordered. For most devices, you can just .post() a Runnable in onCreate to do what you want

[2016-06-22 22:23] moagrius commented on #321
yes, that's an Android limitation, there's nothing we can do in TileView to correct it.

Both methods will work normally if called during normal lifecycle (e.g., in response to user events).  This is really only visible when trying to scroll to positions outside of the bounds of the View during setup methods like `onCreate` or `onAttached`.

Android does not have a concept of "layout complete", so

[2016-06-24 09:03] tsuijten commented on #319
Awesome @moagrius!!

I can't wait to show you guys what I'm working on. It'll be a fantastic showcase for TileView IMO :)

[2016-06-26 22:52] #309 closed

[2016-06-26 23:03] moagrius commented on #319
hey guys - here's what i've got so far: https://github.com/moagrius/TileView/compare/tile-canvas-states?expand=1

it accomplishes the basic goal (get rid of multiple canvases - draw everything to a single canvas), and simplifies a ton of stuff, but it still needs some work:

1.  transitions are goofy.  i didn't have much time by the time i started looking at this; probably fairly simple fix
2.  th

[2016-06-26 23:05] moagrius commented on #315
can i close this, or do we still want to DI the executor?

[2016-06-26 23:05] #320 closed

[2016-06-26 23:05] #321 closed

[2016-06-27 08:53] peterLaurence commented on #319
Ok Mike i just had a first glance on the changes (good job!). I agree that a single canvas should alleviate the library. But before going further into the implementation i think we should precisely write down what we really want to do. I am saying that because something surprised me in the way tiles are drawn.

Like you, i think that invalidating the visible area should trigger the drawing of the

[2016-06-27 18:39] tsuijten commented on #315
You can close this issue, maybe I'll make a pullrequest for DI-ing the executor because I still feel this will reduce overhead in a viewpager. But no need to keep this issue open for that IMO

[2016-06-27 21:36] moagrius commented on #319
Hey Peter,

The big reason why we don't just redraw visible tiles each time is because of the decode operation - that takes times - if we start over with each render request, there will be lots of blinking and flashing as existing tiles get discarded and redrawn.

Also, just to clarify, each tile _invalidates only it's own rect_, not the viewport, which provides a lot of benefits.

I agree it's a

[2016-06-27 21:44] #315 closed

[2016-06-28 08:01] tsuijten commented on #319
Hi Guys, thanks again for your effort! So cool you are so actively developing this library!

I've been playing around with this branch, I still get a lot of weirdness. I have the feeling that there is a more "fundamental" issue that's causing problems. There is a lot of state kept which makes for a steep learing curve. I've been stripping down the `TileCanvasViewGroup` and playing around with it t

[2016-06-28 09:28] peterLaurence commented on #319
Ok Mike. Will have a look with that in mind. I think I will have time to do that in a few days.

@tsuijten Yes Mike warned that it is just a work in progress and there are fundamental issued to fix.

[2016-06-28 10:12] moagrius commented on #319
@tsuijten thanks for your feedback.  as @peterLaurence said, it's a win/poc, but we now have a handle on the issue.  we'll definitely be able to work out the drawing artifacts from here

[2016-07-01 20:37] #310 closed

[2016-07-04 21:14] moagrius commented on #319
hi guys - didn't have a ton of time this weekend, but i did try a couple things.

drawing to an offscreen bitmap is a no-go since it's just too big - bitmap sizes are immutable, and it allocates space for transparent pixels, so i don't see any way to make it happen.  there's a small chance that we could create bitmap the size of the viewport, but that gets complex quickly - if we just move it (wit

[2016-07-07 13:47] tsuijten commented on #319
I took a big step :)

I started rebuilding tile viewer from scratch (based on the `ZoomPanLayout`) I feel I've setup an architecture that is much simpler, less prone to errors and more performant. Additionally I added some features to prevent flickering when switch detail levels.

I want to share what I have right now. It's far from "library-mature" and I removed all the code (and features) I did

[2016-07-07 14:02] moagrius commented on #319
nice job.  correct me if i'm wrong, but the bottom line is just that your'e drawing the previous detail level beneath the current detail level, right?  unfortunately that's exactly what we're trying to avoid.  on a large map, or one without sufficient detail levels, or on a large screen with a small heap, this _drastically_ increases the chance of OOME.  the entire point of my current work is to d

[2016-07-07 17:12] tsuijten commented on #319
I do keep the previous detail level, however I make softreferences from the bitmaps, so if there is memory pressure they can be cleaned up. After a delay the old detail level is cleaned up (assuming the new tiles are loaded)

Indeed I removed transition support because it makes things more complicated.

I agree my changes will not be sufficient for you library. However I feel there are some concep

[2016-07-07 18:18] moagrius commented on #319
very cool, i'll take a look at those pieces and see if any of it works with the changes i'm working on now.  thanks

[2016-07-12 10:17] dev02-adroitinfosol opened #322 "how can i add a marker runtime on long click ? on excat image cordinates i long clicked"

[2016-07-20 07:43] lukast008 commented on #319
Hello,

I have the same issue in my application. During scrolling/zooming some tiles are missing or appearing incorrect ones (from different zoom levels).
I would like to add that I have just upgraded the lib from version 1 to 2.1.7. Before I didn't notice any problems.
What is the status of this issue now?

Best regards

[2016-07-20 15:03] moagrius commented on #319
it's being actively worked on.

can you confirm you're seeing the bug in 2.1.0 and 2.0.10?

[2016-07-20 15:04] lukast008 commented on #319
Thanks for your reply.
Now I use the newest version (2.1.7).

[2016-07-20 15:08] moagrius commented on #319
thanks.  can you try those other version i mentioned tho, to see if the bug is present in those version?  it will help us debug

[2016-07-21 09:57] lukast008 commented on #319
I tried those other versions. The bug is present.
I have also noticed that with simple tiles it almost doesn't happen. I tried the same map with tiles 256x256 (png). In first test tiles were very simple (around 1KB) and it looked quite ok. In the second test I used tiles with more complex texture (around 50KB) and the mentioned bug occured often.

[2016-07-22 02:20] moagrius commented on #322
if you search these issues or the wiki you'll find several examples or getting the coordinates from an event

[2016-07-22 02:22] moagrius commented on #317
@peterLaurence is this still WIP?

[2016-07-22 02:26] moagrius commented on #319
thanks for checking that out.

i've refactored tile rendering entirely (we use a single canvas now), and i've spent many hours this week trying to generate drawing artifacts or bugs and can't see any.  this issues you described specifically appears to be fixed.

i still need to optimize and clean up, but the core feature is done.

@peterLaurence are you around for a code review, probably early nex

[2016-07-22 02:30] moagrius commented on #311
@peterLaurence what's the status on this one?  i'm happy to do anything that needs done, just let me know...

[2016-07-22 08:46] peterLaurence commented on #319
@moagrius yes i will be available until the last week of August.

[2016-07-22 08:54] peterLaurence commented on #317
@moagrius yes was gone for a while and i didn't investigate on this. Is the api `setShouldUpdateDetailLevelWhileZooming` will still be present in the refactored rending you are working on?

[2016-07-22 17:56] moagrius commented on #317
@peterLaurence up to you - do you want it to be?

[2016-07-23 07:24] peterLaurence commented on #317
I should have said that maybe we should wait the refactored rendering to be done before fixing this.
Well, i will look into this and then i will see later if this concerns parts of code that are being refactored.

[2016-07-23 17:44] moagrius commented on #317
sounds good, I'll post when ready

[2016-07-23 19:02] peterLaurence commented on #317
I tried to reproduce the issue, by using `setShouldUpdateDetailLevelWhileZooming( true )` on `RealMapTileViewActivity` demo. I added a touch listener and changed the image of some markers as described in the OP, with :
[code]

But it worked with no issue  (no marker shrink).

[2016-07-23 19:03] moagrius commented on #317
thanks for looking, I'll check it out too

[2016-07-25 01:20] moagrius commented on #245
this should be fixed in 2.1.8, re-open if your issue is not resolved

[2016-07-25 01:20] #245 closed

[2016-07-25 01:20] moagrius commented on #314
this should be resolved in 2.1.8 - reopen if your issue is not resolved

[2016-07-25 01:20] #314 closed

[2016-07-25 01:20] #322 closed

[2016-07-25 01:25] moagrius commented on #245
ref https://github.com/moagrius/TileView#scaling

[2016-07-25 01:25] moagrius commented on #314
ref https://github.com/moagrius/TileView#scaling

[2016-07-25 21:40] moagrius commented on #319
@peterLaurence hmm are you going to be off github permanently after August?  i'd hate to see you go, but don't want to pry too much into your personal situation...

anyway, i moved the most recent refactor to it's own repo - the whole thing is a bit of a mess, it's branched off a branch of the main repo but the main repo didn't get copied over, etc - and the branch i'm on (`complex-draw`) is in it

[2016-07-26 08:08] peterLaurence commented on #319
@moagrius don't worry, i will just be on holidays (abroad) from 28 August to 11 September.  During that time i will just be able to check my emails from time to time.
So i understand the changes being made are important, and i will start looking at this new repo this week.
I agree the v3 idea, as (if i understood correctly) some apis like `setShouldUpdateDetailLevelWhileZooming` won't make any sen

[2016-07-26 13:45] moagrius commented on #319
all sounds good, thanks Peter

[2016-07-27 10:32] peterLaurence commented on #319
I have reported my first issue on https://github.com/moagrius/TileViewLabs

[2016-07-27 21:47] moagrius opened #323 "use newest gradle"

[2016-08-04 08:35] Gnzlt opened #324 "Feature request: Clustering"
Hi!

I wonder if it could be possible to cluster markers like [Google Maps Android Marker Clustering Utility](https://developers.google.com/maps/documentation/android-api/utility/marker-clustering) does.

Thanks!

[2016-08-04 12:20] peterLaurence commented on #323
Suggestions :
- update build tools to 2.1.2
- use gradle 2.10 : `distributionUrl=https\://services.gradle.org/distributions/gradle-2.10-all.zip`
- see if we can update [TileView's build.gradle](https://github.com/moagrius/TileView/blob/master/tileview/build.gradle)

[2016-08-04 23:46] moagrius commented on #324
I've done something similar in the past with arbitrary logic (zoom smaller than X, use clusters), but there's nothing formal on the horizon.  The next major version (3) is a long way out, but will use a plugin style architecture, and this feature might fit in nicely there.  I'm going to leave this issue open as a feature request until then.  FWIW, v3 is probably a good ways out.

Thanks for your f

[2016-08-09 02:01] zhaoxuhui opened #326 "ReadTilePictures"
How can I read the tile pictures?What is the meaning    of the second parameter in method addDeatailView?Does it mean the path of tile pictures?What is the naming rules ,%d_%d?The tile files in demo is located in assets floder,and that is ok to read them.But how can I read the tiles in external storage?Such as SD card.I have tried to put the file path in the parameter,but it is no use.

[2016-08-09 02:14] moagrius commented on #326
there is a readme with links to java docs and wiki, along with faqs and plenty of examples in the demo and issues list.  please read the documentation and if you still have specific issue, post them then.

[2016-08-09 02:14] #326 closed

[2016-08-10 01:38] moagrius commented on #319
2.2 has been released and should fix this issue.  Please post back if not, and thanks @tsuijten for your help and feedback.

[2016-08-10 01:38] #319 closed

[2016-08-10 01:38] moagrius commented on #323
included in 2.2

[2016-08-10 01:38] #323 closed

[2016-08-10 01:40] moagrius commented on #317
we need more info or steps-to-reproduce to do any more on this.  closing for now.

[2016-08-10 01:40] #317 closed

[2016-08-10 01:40] moagrius commented on #311
@peterLaurence do you want me to take this?

[2016-08-10 01:44] moagrius commented on #303
i realize it's been several months, but i don't see this happening...  i think you're going to have to use hacks like this to get what you need, sorry.  also, fwiw, this won't work on the latest release [2.2.0](https://github.com/moagrius/TileView/releases/tag/2.2.0).  sorry - good job digging in and making it work though

[2016-08-10 01:44] #303 closed

[2016-08-10 06:41] tsuijten commented on #319
Thanks a lot @moagrius and @peterLaurence !

[2016-08-10 07:11] peterLaurence commented on #311
oups, i forgot this one. If i don't make a PR tonight, you can take this.

[2016-08-10 17:36] #311 closed

[2016-08-11 02:16] henrytao-me opened #329 "Sample request: Do you have example to use Fresco as BitmapProvider?"
Hi, the title is obvious. Can you help me with the example?

[2016-08-11 02:48] moagrius commented on #329
no, i don't have a sample, but you can probably find a way.  you just want the `Bitmap`, nothing else - `TileView` will manage when it's displayed and when it's memory is reclaimed (a lot of the same things Fresco does); you probably won't be able to take advantage of most of Fresco's features, as they're occupying a lot of the same responsibilities the TileView does...  Note that TileView does no

[2016-08-11 13:19] xuren87 opened #330 "Listen long click event"
Hi there,
I want to know if there any method can make me add maker through long click

[2016-08-12 00:52] moagrius commented on #330
`onLongPress` is exposed: https://github.com/moagrius/TileView#hooks-and-listeners, search issues or wiki for how to get a lat/lng back from a touch event, and then add marker however you want

[2016-08-15 04:57] zhaoxuhui opened #331 "Map rows and columns"
Can you explain how the tileview calculates one tile's row and column number.Does that mean we have to know the size of the original picture?For example , there is one picture that is divided into four parts,the size of each part is 256*256.So,we should set the tileview size 512*512?Then the same picture , divided into 16 parts.Each part is 256*256 too.So we should set the tileview size 1024*1024

[2016-08-15 21:17] moagrius commented on #331
yes, you have to know the size of the original image.  that's the size of the tileview.

row and column are figured by dividing total size by tile size.  1000 / 256 means you have 4 rows.  if you've scrolled to x 300 and y 0, your starting row is 1 and starting column is 0.  if the viewport is 500 wide and 500 tall, your end row is 3 and end column is 1.

tileview does not divide the image for you

[2016-08-15 21:17] #330 closed

[2016-08-15 21:17] #329 closed

[2016-08-17 03:22] parcool opened #332 "Are these 5 lines codes exactly meaningful?"
In 'ZoomPanLayout.java', the 'onMeasure(int widthMeasureSpec, int heightMeasureSpec)' fuction has 5 lines codes like this:
`        int width = MeasureSpec.getSize(widthMeasureSpec);
        int height = MeasureSpec.getSize(heightMeasureSpec);
        width = resolveSize(width, widthMeasureSpec);
        height = resolveSize(height, heightMeasureSpec);
        setMeasuredDimension(width, height);`

[2016-08-17 03:57] parcool opened #333 "The tiles which laid out on the bottom is not correctly display!"
as the title,the tiles which laid out on the bottom are stretched or real tiles which laid out on the bottom are disappeared! I am sure i set the tileview's size is the imageView real pixel value!

[2016-08-17 04:10] moagrius commented on #332
setMeasuredDimension takes dimensions as arguments.  A measureSpec is an int but it combines a dimension with a bit flag.

[2016-08-17 04:10] #332 closed

[2016-08-17 04:10] moagrius commented on #333
your question is very unclear.  please try to restate it with as much detail and clear language as possible.

are the demos in this repo all functioning properly for you?

[2016-08-17 04:11] moagrius commented on #333
i'm shutting down, will check back tomorrow

[2016-08-17 04:45] parcool commented on #333
i'm sorry for that,my English is poor and the question is not easy clear to express!
see this double links,it would show all for my representation:
[link1](http://yibogame.com/target.jpg)
[link2](http://yibogame.com/5_5.jpg)

[2016-08-17 04:47] parcool commented on #333
In china,is noon now,and you are maybe going to bed,good dream^_^

[2016-08-17 04:56] parcool commented on #332
i delete the four lines which you code and add the `setMeasuredDimension(widthMeasureSpec, heightMeasureSpec);` to replace these,rebulid and rerun,nothing changed with the map!

[2016-08-17 13:44] moagrius commented on #332
sir, onMeasure takes ints that are not dimensions, but a value combining a dimension with an intent flag.  setMeasuredDimension takes dimensions, not a combined value.

you don't see any difference because you're probably using TileView to fill the screen.  onMeasure determines the size the parent should consider the instance when laying it out, especially as regards other children.  you might see

[2016-08-17 13:45] moagrius commented on #333
do the demos appear to work properly for you?

[2016-08-17 16:13] parcool commented on #333
your demo are alphaed around each edge,i can not remenber the details,i will check it tomorrow.

[2016-08-17 16:20] moagrius commented on #333
there is no alpha in the demos

[2016-08-18 02:48] parcool commented on #333
some of the images in your demo which assets folder named `map`  seems to be alpha,such as `phi-500000-32_3.jpg` to `phi-500000-34_26.jpg`  are pure-color,so i can't distinguish the problem appear or not in your demo.

[2016-08-18 02:50] moagrius commented on #333
jpegs do not support the alpha channel.  there is no alpha.

if you set the background color of the demo to something obvious (like green or red) you should be able to see that the tiles extend to all edges.

please confirm.

[2016-08-18 02:52] moagrius commented on #333
you can also try the demos for large image, or fictional map, etc, which should clearly show the tiles extending to the edges.

[2016-08-18 03:03] parcool commented on #333
[the original image](http://yibogame.com/map2.jpg)
[the screen-shot map image](http://yibogame.com/aaa.jpg)
[the tile image which be stretched](http://yibogame.com/5_5.jpg)

[2016-08-18 03:10] moagrius commented on #333
i asked that you set the background color of the demos so you could see that the tiles stretch all the way to the edges.  if you're saying that one of the demo apps does not fill the screen, then that is a legitimate issue.  i don't think that's the case.

i just ran the demos again, and all are behaving appropriately - the tiles reach the edges as they should.  **please confirm that you can see t

[2016-08-18 03:15] moagrius commented on #300
this is fixed in master, will be included in the next release

[2016-08-18 03:15] #300 closed

[2016-08-18 03:15] #331 closed

[2016-08-18 03:20] parcool commented on #333
do find the difference between `the original image` and `the screen-shot map image` which characters be circled by red color?

[2016-08-18 03:28] moagrius commented on #333
i have seen the images you posted.  i see there is distortion in one of the images.  i'm telling you that TileView handles odd size edge images properly - _please check the demos to see for yourself_ - i'm sure you've configured something wrong but i can't tell what that is from your posts.

it looks like other tiles in the same row, and other tiles in the same column, are not stretched - is that

[2016-08-18 03:32] parcool commented on #333
thanks a lot for your answer,i will check the images and codes, thanks a lot again!

[2016-08-18 03:32] #333 closed

[2016-08-19 10:59] parcool opened #335 "Sorry,Here i go again!"
When mapview(image) less than screen,in other words,when there is interspace between mapview and screen edge ,click the marker and the `callout` show incorrect position.

do you think this is a way to fix it?
in `MarkerLayout.java`,
add `y -= getTop();
        x -= getLeft();` after line 89.

[2016-08-19 20:06] moagrius commented on #335
that change would break the code in that method in a number of ways - both `getTop` and `getLeft` will always refer to the `MarkerLayout` instance, not the TileView, or the marker Views, and will always return 0.  If it did not return 0, I'm not sure how that would help - especially since line 89 is in a loop so both X and Y would be decremented by top and left times the number of children.  This

[2016-08-20 03:31] zhaoxuhui opened #336 "Layers and Paths"
Question 1:I'm wondering whether the tileview supports showing different layers.For example,there are kinds of maps .When I click text "2016" it will shows the map of 2016,when I click "2015" it will show the map of 2015.How to reset the content of tileview and refresh it?
Question 2:How to use the method public void removePath(DrawablePath path) in CompositePathView class ?How to specify a certai

[2016-08-20 06:29] parcool commented on #335
here is the [video](http://yibogame.com/XXX.mp4) to shows what the situation,we can see the touch point which by my pinch zoom and tap,when i [add this two lines](http://yibogame.com/code.png) here,and the problem occur never(yes!i add this `tileView.setMinimumScaleMode(ZoomPanLayout.MinimumScaleMode.FIT);` code).

[2016-08-20 10:58] krabo0om opened #337 "setMinimumScaleMode and setSize"
Hey,
After the instantiation of `TileView` I set the scale mode. Because I'm reusing the instance I call `setSize()` after that a couple of times leading to a not working `setScale()` (`mEffectiveMinScale` was infinity because of the `mBaseWidth == 0`).

To avoid frustrating searches for the "bug" could you please add a hint in the documentation for `setMinimumScaleMode()` that `setSize()` has to

[2016-08-21 11:49] krabo0om opened #338 "MinimumScaleMode.Fit and coordinates"
Hey,
thanks to @tsuijten and @peterLaurence  PR #318 introduced the `MinimumScaleMode.Fit` mode adding whitespaces when totally zoomed out.
However, this broke the coordinates of tap events. A short example:
_Lets say I have an image of 1000 width * 500 height and set `MinimumScaleMode.FIT`. Zoomed totally in at 1.0 and tapping the lower right I get x,y of 1000,500. Fine.
Zooming out it adds the w

[2016-08-21 16:20] peterLaurence commented on #338
I can confirm this. I tested the changes suggested and it fixes the issue, although i'm not yet sure this is the correct way to fix this nor this won't have side effects. Nevertheless, the changes can be seen on my fork, [banch `fix#338`](https://github.com/peterLaurence/TileView/tree/fix%23338).
It can now be checked with the `RealMapTileView` demo.

@moagrius you can check the changes, and if yo

[2016-08-21 16:21] peterLaurence commented on #335
Confirmed. Duplicate of #338.

[2016-08-21 22:25] moagrius commented on #335
@parcool thanks for you patience and possible fix - this issue has been accepted and is being worked on.

you referenced line 89 earlier, which in master is in the loop, so my comments in https://github.com/moagrius/TileView/issues/335#issuecomment-241121280 might not have made sense

[2016-08-21 22:26] moagrius commented on #338
i commented your fork peter

[2016-08-23 00:48] moagrius commented on #336
1.  You can use `resetDetailLevel` to clear previously registered levels, and add different ones
2.  You can instantiate a `DrawablePath` directly, or some methods return instance.  Pass the instance to `removePath` and it will be removed
3.  DrawablePaths don't have any touch events, but you can create a HotSpot with the same Path instance (although it will be filled, not just the line of the pat

[2016-08-23 01:13] moagrius commented on #337
https://github.com/moagrius/TileView/commit/48691f810de27c184b6f0f8bfab5626098104943 should fix this - can you confirm?  if works, i'll generate a release

thanks

[2016-08-23 01:14] moagrius commented on #335
@parcool this should be fixed in https://github.com/moagrius/TileView/commit/ad43318f2301822b4bfae4adea67ec5695df72b8 - can you grab the latest master and confirm?  if it works, i'll publish a release

[2016-08-23 01:15] moagrius commented on #338
@krabo0om  this should be fixed in https://github.com/moagrius/TileView/commit/ad43318f2301822b4bfae4adea67ec5695df72b8 - can you grab the latest master and confirm?  if it works, i'll publish a release

@peterLaurence i skipped a PR (no real reason just rushing i guess) - does this look sane to you?

[2016-08-23 01:16] moagrius commented on #335
you'll need to grab the latest `master` and run from code, not release

thanks

[2016-08-23 09:09] peterLaurence commented on #338
@moagrius it looks ok for me. It fixes the markers part. One last thing is the HotSpots (aka `Region`s) are not offset, so it looks to me that the modified touch event position can lead to wrong HotSpot match.

[2016-08-23 10:29] krabo0om commented on #336
@Q1
It clears the levels but does not reset the tile's image. Is there a way to force this?
I illustrated it in this [video](https://youtu.be/dWOxM1UE-j4). For some of the tiles there is no new image in another floor (the `BitmapProvider.getBitmap()` returns `null`).
Zooming/Panning the "broken" tiles out of view solves the issue.

[2016-08-23 10:58] krabo0om commented on #338
@moagrius  looks good to me, too.
My callout view is not chopped any more and my hot spots are all working.

[2016-08-23 11:01] peterLaurence commented on #338
@krabo0om your HotSpots are working even when you ave white spaces (in FIT mode)?

[2016-08-23 11:04] krabo0om commented on #337
looks good. thanks

[2016-08-23 11:04] #337 closed

[2016-08-23 11:15] krabo0om commented on #338
@peterLaurence yeah they do :smile:

[2016-08-23 11:16] peterLaurence commented on #338
Ok i must be missing something. Good news anyway.

[2016-08-23 12:20] krabo0om commented on #338
there might be a new bug with callouts and `clipChildren=true`:
[![disappearing callout](https://s14.postimg.org/irt0pr5s1/ezgif_com_resize.gif)](https://postimg.org/image/if1mjkni5/)
So when I show the callout I pull data from a server, the progress bar shows that. After that's done I set the visibility of the progress bar to `View.GONE` resulting in a new layout phase. The view itself stays visi

[2016-08-23 12:29] peterLaurence commented on #338
Try to set the visibility of the marker to `View.VISIBLE` right after you set `View.GONE` on the progressbar?

[2016-08-23 12:43] krabo0om commented on #338
the view's visibility is not affected it's always `View.VISIBLE`, I used a `View.OnLayoutChangeListener` (fired when the progress bar is gone) and a `OnAttachStateChangeListener` (fired when the callout is removed because of a tap on the image) to confirm this. The disappearing view behaves the same as a view inside the `MarkerLayout`

[2016-08-23 12:47] krabo0om commented on #338
I could not get the `CalloutLayout`'s `moveMarker` working to move it back inside the `MarkerLayout` to confirm that the system just ignores the callout during the render phase.

[2016-08-23 13:21] peterLaurence commented on #338
I can't reproduce on my side. Callouts stay visible even when outside and when a child view's visibility is set to `View.GONE`.

[2016-08-23 13:33] peterLaurence commented on #338
So as a workaround, you can adjust the `anchorY` value for that disappearing callout, so it gets at least partially inside the visible tiles.

[2016-08-23 13:37] krabo0om commented on #338
this works for now (I used `View.offsetTopAndBottom`).
I'll try to reproduce it with the demo app.

[2016-08-23 13:44] peterLaurence commented on #338
I found the fix. `setClipChildren( false );` has to be added in `MarkerLayout` constructor too.
In that particular case, the `MarkerLayout` was clipping its child view.

[2016-08-23 13:57] krabo0om commented on #338
I can confirm it's working with `setClipChildren( false )` in the `MarkerLayout`

[2016-08-23 15:06] krabo0om commented on #338
okay I hope this is the last thing: Callouts won't be closed when tapping in the whitespace.
This should solve it (in `TileView`):
[code]

[2016-08-23 21:46] moagrius commented on #336
try reset, add the new ones, then call `resume`

if that doesn't work post back and i'll try to create an mvp tomorrow

[2016-08-23 21:51] moagrius commented on #338
the time difference is a killer!

anyways, IIUC i need to add 2 things:

1.  setClipChildren in MarkerLayout
2.  pass touch event to the CalloutLayout

i'll post those, let me know if i missed anything, otherwise i'll generate a release tomorrow

thanks guys

[2016-08-23 21:55] moagrius commented on #338
ok it's up

[2016-08-23 22:12] peterLaurence commented on #338
Looks good to me. Though i noticed that a touch inside a `SampleCallout` causes it to disappear, while it seems to me that it didn't before. I don't know if it's a problem anyway.

[2016-08-23 22:16] moagrius commented on #338
it will unless the callout view consumes the event (e.g., with a click listener)

thanks peter, i'll bump versions and generate a release

i appreciate all your help, as always

[2016-08-23 22:38] moagrius commented on #338
2.2.1 is out

[2016-08-23 22:38] #338 closed

[2016-08-23 22:38] moagrius commented on #335
2.2.1 should fix your issue, re-open or post back if you're still having trouble

thanks for the report

[2016-08-23 22:38] #335 closed

[2016-08-24 10:10] krabo0om commented on #336
nope does not work

[2016-08-24 16:29] moagrius commented on #336
ok, i'll work on it tonight

[2016-08-25 00:34] moagrius commented on #336
maybe i'm misunderstanding the question, because the steps above work fine for me.

grab the latest `master`, then open `RealMapTileViewActivity`, then in some event, put this:

[code]

You'll see the existing map of Philadelphia get swapped out for Middle Earth...  you'll probably need to re-add markers, etc, but the basic functionality seems fine.

you could also remove the existing TileView and

[2016-08-25 00:36] moagrius opened #339 "TileCanvasViewGroup.clear does not clear tiles from previous detail levels"
also, calls `supressRender` inappropriately

is:
[code]

should be:
[code]

[2016-08-25 09:50] krabo0om commented on #336
for those maps it does work, however, if there are tiles missing in the new levels it does not clear the old ones.
I created an example [in a fork](https://github.com/krabo0om/TileView) adding a floor plan view. Tapping a marker switches the plans, but the 2nd one is missing a few tiles. This leads to an overlapping (I used transparent .png) of the tiles after the missing ones. If you than zoom in

[2016-08-25 13:53] moagrius commented on #336
i noticed #339 when researching this; try the fix mentioned there and see if that does it for you.

i'm a little worried that it might just be an OOME on some tiles, which means either A) not much we can do about it, or B) i need to create a really aggressive clear-type method.  you might want to put logs in the BitmapDecoder catch blocks to see if that's the case...

[2016-08-25 15:07] krabo0om commented on #336
I added the line mentioned in #339 but this does not fix it.
Adding logs showed that it's just a file not found error. If I add
`return Bitmap.createBitmap(tile.getHeight(), tile.getWidth(), OPTIONS.inPreferredConfig);`
to the outer catch at `BitmapProviderAssets:45` it displays black tiles (as expected).
Back to returning just null if there is no bitmap:
In `TileCanvasViewGroup.drawTiles()` I ign

[2016-08-25 15:09] moagrius commented on #336
I'll poke around some more tonight

[2016-08-26 01:31] moagrius opened #340 "DetailLevel equals should also check data member"
If swapping detail levels, the new level may not be recognized as changed because DetailLevel.equals only checks scale - so if the previous detail levels were for 1.0 and the new detail level is at 1.0, most tile set update operations will fast fail thinking there's no change.

is:
[code]
should be:
[code]

[2016-08-26 01:34] moagrius commented on #336
yeah i just checked it, and it's just missing tiles.  see attached screenshot.

note the logs say missing tile 4_3, 1_3, 2_3, 2_4, etc - all of which you can see in the same screenshot are not present in the assets.

However I did find a bug that might have prevented your new detail levels from being recognized as changed, and created issues: #340

I should get both of those into `master` shortly,

[2016-08-26 01:43] moagrius commented on #336
actually i was able to get a release out.  try including the missing tiles, and using 2.2.2

[2016-08-26 01:43] moagrius commented on #339
fixed in 2.2.2

[2016-08-26 01:43] #339 closed

[2016-08-26 01:43] moagrius commented on #340
fixed in 2.2.2

[2016-08-26 01:43] #340 closed

[2016-08-26 07:52] krabo0om commented on #336
Sorry, I did not made myself clear enough about the missing tiles:
I knowingly and willingly deleted/moved the assets. In my app I get floor plan data from a server, but imagine a |\_| shape like building where there are a few "air" (read `mBitmap=null`) tiles between the | |.
So, if there are tiles without a bitmap during the render, all the following tiles get messed up (when switching to a new

[2016-08-26 21:48] moagrius commented on #336
yeah if you have null bitmaps, that's going to confuse a lot of stuff, for example when it's drawing pervious tile sets, it's looking for areas that are not already filled, which null bitmaps will never qualify for.  i'd suggest using empty bitmaps at least.  can you use empty bitmaps (e.g, 1x1 transparent pixels)?

[2016-08-26 22:01] krabo0om commented on #336
well that was an easy fix.
in case anybody stumbles over this: add `return Bitmap.createBitmap(new int[]{0}, 1, 1, Bitmap.Config.ALPHA_8)` instead of `return null` in your `BitmapProvider.getBitmap()` implementation.

[2016-08-26 22:04] moagrius commented on #336
nice

[2016-08-27 21:28] Mahmoudmsa opened #342 "background tile doesn't appear in some devices randomly"
i used the tileview module in one of my projects and it works fine but unfortunately the map i used doesn't appear on some devices and the problem that i tested on 2 device which is galaxy note and works on one of them and didn't work on the second which is very strange

this the link for the app

it is arabic version

https://play.google.com/store/apps/details?id=com.dana.bassem.wa7a

hope anybod

[2016-08-27 21:38] moagrius commented on #342
you need to provide more information, specifically steps to reproduce the issue.  have you logged the catch blocks of your BitmapProvider.decode method?

[2016-08-27 21:38] #336 closed

[2016-08-27 23:28] Mahmoudmsa commented on #342
Thanks for quick reply, actually i'm the project manager of the project and my colleague is the developer, i i'll ask him and get back to you.

but what i know exactly it appears on devices randomly i can send you the code to check if you can.

Thanks

[2016-08-28 11:39] deda9 commented on #342
First Thanks alot for ur time and effort to reply about our Question .
we followed ur libarary sample
and this is our code
it works fine in most of devices but some random devices didnt work . It just show gray screen with marker . (Not the image which appear in normal case )

package com.dana.bassem.wa7a.fragment;

import android.content.Context;
import android.content.Intent;
import android.cont

[2016-08-28 17:59] moagrius commented on #342
There's nothing obviously wrong with the `TileView` setup, although I cant see the definition for the class `MTitleView`.

I do notice tho that you're not supplying layout params, which is not an issue with `TileView`, but may cause problems when returning a `View` in `onCreateView`...  I don't know what kind of ViewGroup your fragment is loading into, but you might want to try to supply `LayoutPa

[2016-08-28 20:38] deda9 commented on #342
The MTileView Class
and I use all things in Fragment not Activity

package com.dana.bassem.wa7a.views;

import android.content.Context;
import android.util.Log;

import com.dana.bassem.wa7a.events.ShowMarkersListener;
import com.qozix.tileview.TileView;
import com.qozix.tileview.detail.DetailLevel;

/**
 * Created by Deda on 3/16/2016.
 */

public class MTitleView extends TileView {

    ShowMarke

[2016-08-28 20:48] moagrius commented on #342
Please format your code in the future.

Again, nothing is obviously wrong.

Did you do what I suggested in my last post?  Do you have STR?

Please pay attention to what information is requested - "i use Fragments not Activities" is not a valid response - I suggested you try it in an Activity to see if it's a potential layout issue (which I suspect it is).  I'm pretty sure this has nothing to do wi

[2016-08-31 23:36] #342 closed

[2016-09-14 15:29] Deliganli opened #343 "Path disappears while working with large maps/long paths"
Hi all,

Path is disappearing after some point if i try to zoom in continuously. Before that there is a very noticable frame drop occurs. But right after path disappeared map works perfectly with a very smooth control. I have found this log;

`09-14 18:04:10.537 21877-22232 W/OpenGLRenderer: Shape too large to be rendered into a texture (12656x2727, max=8192x8192)

The map i am working with is 400

[2016-09-14 16:02] Deliganli commented on #313
I did what i needed like this;

i let the map to display background colour on undefined space during rotation.
I am giving an arbitrary viewport padding which will load more tiles. So that the viewport is always being in the loaded tiles.
Then after i am overriding the onDraw method of the TileView class to rotate the canvas according to the degrees.
This action needs many gestures to be disabled

[2016-09-14 23:46] moagrius commented on #343
Yeah, paths are very resource intensive - I don't think there's anything going on other than what you see in that error message:
[code]
You might try a custom implementation using `drawLines` instead of `drawPath` - you can just extend `DrawablePath` and pass the subclass instance to `TileView.drawPath`, but realistically you're probably just taxing the system too much.  You might try drawing the

[2016-09-14 23:46] #343 closed

[2016-09-14 23:58] Deliganli commented on #343
Thanks Mike, i went for canvas.drawLines option on a custom class substitue for CompositePathView which worked with great performance, much better than path object. Only downsides are
1- Not looking great on points where lines meet
2- Cannot draw filled polygons

 thanks very much

[2016-09-16 20:13] Mahmoudmsa commented on #342
Hello moagrius,

First of all thanks for your help. and we tried all suggestion you said but unfortunately the problem hasn't been solved. is it possible to debug it yourself and fix it as a chargeable task? because we hit the wall in this bug.

appreciate your co-operation

[2016-09-16 20:28] moagrius commented on #342
is your repo public?

[2016-09-17 12:11] Mahmoudmsa commented on #342
No i can send you the source code of the application should i send it here as a link in dropbox or by email?

[2016-09-17 15:43] moagrius commented on #342
I don't use Dropbox.  your best bet would be a public repo

[2016-09-18 16:38] Mahmoudmsa commented on #342
@moagrius here you are

https://github.com/deda9/WahatApp

please check and update me how much it should cost to fix it, and thanks for your co-opeation

[2016-09-18 17:46] moagrius commented on #342
i'll take a quick look (without charging you).

what devices + api does the bug appear?  e.g., Nexus 5X API 23 - please list all you can so i have a better chance of finding an emulator image.

it'll be almost impossible to debug if i can reproduce the issue.  any other STR?

[2016-09-19 14:07] Mahmoudmsa commented on #342
Thanks @moagrius

Appreciate your co-operation here yo are

HUAWEI Y560-U02  Android  4.4.2
Samsung Galaxy 6s edge Android 5.0  ( we tested it on 2 [ Samsung Galaxy 6s edge Android 5.0  ] devices, it works on one and didn't work on the other, so we think it has something in the settings but can't reach the reason )

also an older Samsung device with Android 4.4.2

Hope you can reproduce the issue,

[2016-09-20 01:01] moagrius commented on #342
i'll take a look when i can, probably tomorrow

[2016-09-20 01:23] moagrius commented on #342
i tried it on 8 different AVD and Genymotion emulators; it worked as expected on each.

in order to help debug, i need reliable STR and the exact emulator image that'll show the problem.

[2016-09-20 10:51] Mahmoudmsa commented on #342
Thanks moagrius for your co-operation, will try to find an image that shows the problem and send you, because till now it happens in real devices only.

[2016-09-20 14:24] initiuminc1 commented on #313
@Deliganli do you have the rotation code on any of the branches? if then i will try from my end. i too extremely need this feature

[2016-09-20 14:43] Deliganli commented on #313
@initiuminc1 i will push it on my fork when i have time

[2016-09-20 15:39] initiuminc1 commented on #313
@Deliganli thanks. Please let me know once you push. Thanks

[2016-09-25 07:49] Caspain opened #344 "imagemagick comand line snippet does not work"
c:\path\to\imagemagick\convert c:\path\to\big\image.png -crop 256x256 -set filename:tile "%%[fx:page.x/256]_%%[fx:page.y/256]" +repage +adjoin c:\path\to\tile\folder\tile-%%[filename:tile].png"

first i tried removing the double quote at the end, created a  folder called TILE. Just can't get it to work.
Please help,your assistance is appreciated.

Could you show me the snippet with your directory

[2016-09-25 17:24] moagrius commented on #344
that's an imagemagick question, not a TileView question.  yes, the final quote is a mistake.  use the included batch command for hints.  fwiw, that was written for windows, not mac or nix.

[2016-09-25 17:24] #344 closed

[2016-09-26 06:07] Caspain opened #345 "Map Coordinates"
I am confused about something, but how are the lat and lng coordinates are located and computed. i realized you utilized some values in your demo. But is it a guess game kinda thing,where if you need to find a specific point you manually of to guess it. is this correct,or is there some method that returns all the coordinate values for the map in question.
Thank You!

[2016-09-26 23:50] moagrius commented on #345
you supply any number for top/left and bottom/right, then when you invoke a method that uses the positioning system, it just determines the relative value.

if you put in 5/5 and 10/10, and you passed a method at 6, 9, the position would be 20% from right and 80% from top

[2016-09-26 23:50] #345 closed

[2016-09-29 22:35] Stashare opened #346 "Navigation"
Nice work, have been looking for this for a long time... i want to move from point A to point B, i have located the two points on the tileview and a dynamic path has been drawn, so is it possible to provide real time position of the user as he moves to point B like in Google Maps?

[2016-10-01 02:01] Caspain commented on #346
points.add( new double[] {-75.1489070, 39.9484760} );
    points.add( new double[] {-75.1494000, 39.9487722} );
    points.add( new double[] {-75.1468350, 39.9474180} );
    points.add( new double[] {-75.1472000, 39.9482000} );
    points.add( new double[] {-75.1437980, 39.9508290} );
    points.add( new double[] {-75.1479650, 39.9523130} );
    points.add( new double[] {-75.1445500, 39.9472960} )

[2016-10-01 20:33] moagrius commented on #346
@Stashare sure, just use a custom View to represent the user, add it with addMarker, grab the location using standard gps retrieval methods and move it with updateMarker

@Caspain yes, see the CoordinateTranslater information at the bottom of the FAQ: https://github.com/moagrius/TileView/wiki/FAQ

both - is there a reason these questions are in the same issue?

[2016-10-02 00:49] Stashare commented on #346
thanks Mike

[2016-10-03 17:46] MisterRager opened #347 "Marker and Hotspot Touches Not Accurate"
I've got some markers on my `TileView` that I'm listening to like this:

[code]

This is firing events on touches that seem to be based on a different scaling level than what I can see: empty areas fire off events for markers nowhere near the actual touch, and the actual touched areas do not result in the touches expected. Additionally, I can't seem to actually "touch" any of the hotspots I added.

[2016-10-03 19:34] MisterRager commented on #347
After investigating some more, it appears that the touches are not even lining up with marker views that are offset from or scaled from the touch's position.

[2016-10-03 19:39] MisterRager commented on #347
The `mHitRect` value in the view's layout params seems to have little to no bearing on the actual view's location:

Click is at `(596, -62)`, view actually selected is closer to `(590, 40)`,  hit rect is supposedly `Rect(97, -221  -  1177, 550)`.

[2016-10-03 22:06] moagrius commented on #347
what version are you using?

if it's the latest, can you fork the repo and modify one of the demos to display the issue you're seeing?

remember that both layout and "normal" hit rect in android do not scale normally, which is why we have to manage it.

[2016-10-04 05:57] Caspain opened #348 "Click Event"
Tileview not handling click event.

[2016-10-04 10:37] rafaelvcaetano opened #349 "Feature request: Add function to map from screen position to world position and vice-versa"
Adding functions that directly translate a position on the screen to a world position and vice-versa would be of great utility. Preferably, 2 variants should exist:

**1.** Translate from screen position to world position (and vice-versa)
**2.** Translate from screen position to world pixel position (and vice-versa)

I can try and take a look at this implementations.

[2016-10-04 23:39] moagrius commented on #348
of course not - you need the touch event for scrolling, flinging, pinching, etc.  use any of the listeners mentioned in the readme.  please do a little more research into basic functionality before opening issues.

[2016-10-04 23:39] #348 closed

[2016-10-04 23:39] #346 closed

[2016-10-04 23:40] moagrius commented on #349
these methods exist already: https://github.com/moagrius/TileView/wiki/FAQ

[2016-10-06 00:52] #349 closed

[2016-10-06 07:38] sos418 opened #350 "Removepath ClassCastException"
I want to remove Path and I set points below

    private ArrayList<double[]> points = new ArrayList<>();

    {
        points.add( new double[] {620,1656} );
        points.add( new double[] {648, 1656} );
        points.add( new double[] {648, 1772} );
        points.add( new double[] {965, 1772} );
        points.add( new double[] {965, 2036} );
        points.add( new double[] {965, 2441} );

[2016-10-06 14:00] moagrius commented on #350
you're trying to convert a `List` to a `DrawablePath` with this line:
[code]
Clearly that won't work.

[2016-10-06 14:28] sos418 commented on #350
Yes,I know that won't work.
Does it have any other method?

I also try this
`tileView.removePath(tileView.drawPath( points.subList(1, 5), null ));`
This method didn't occur error,but also can't work successfully.

[2016-10-06 14:38] moagrius commented on #350
you can't remove a `List`, the argument requires a `DrawablePath` instance.

You'll need to supply a `DrawablePath` instance.  You'll need to create your own, and supply that path.

Please thoroughly review Java types and method signatures.

With this line, you're creating a new path then immediately removing it:

[code]

Please thoroughly review Java references.

You can draw a path with a helper

[2016-10-06 14:38] #350 closed

[2016-10-06 15:09] sos418 commented on #350
Sorry!!!
I didn't say clearly.

I have drawPath on map, and I want to removePath when I click button.

I try your method :

[code]
But map still have Path.

[2016-10-06 15:11] moagrius commented on #350
you are drawing a path and then immediately removing it.  you need to remove the path that's already drawn, _not_ create a new one and then remove it (which won't do anything)

[2016-10-06 15:33] sos418 commented on #350
Oh! Thank you!
You help me so much.
I will revisit basic Java operations.

[2016-10-06 21:10] Caspain opened #351 "GPS Coordinates and Triangulation"
Good day mike , thanks for all your help . Your library is very helpful,
I ran into a slight problem.
given your description The Tile-view method defineBounds( double left, double top, double right, double bottom ) establishes a coordinate system . I did set the bounds. However when i received the actual longitude and latitude from gps triangulation and then try to set marker with those values. It

[2016-10-06 22:47] moagrius commented on #351
are you passing lng, lat or lat, lng?

coordinates are usually expressed lat, lng, but that's opposite how math/programming normally does it: x, y

you need to use lng, lat

if that doesn't work, can you confirm the demos with relative positions are working for you?

[2016-10-07 00:15] moagrius commented on #347
following up - is this still an open issue for you @MisterRager

[2016-10-07 18:04] Deliganli commented on #313
@initiuminc1 you can find it on my fork, which is not very informative maybe but i will put a sample code later on

[2016-10-07 19:59] MisterRager commented on #347
Yes, but I haven't had time to investigate further since I have abandoned using the marker views to replace some extant views for now. Sorry for that. I'll try to look at it once I have a bit more bandwidth.

[2016-10-08 23:31] moagrius commented on #347
np - if you have time and could just post the version, that may make the rest moot

[2016-10-10 23:33] MisterRager commented on #347
2.2.2

On Sat, Oct 8, 2016 at 4:31 PM, Mike Dunn <notifications@github.com> wrote:

[2016-10-10 23:58] moagrius commented on #347
thanks, it's not a version issue, i'll take a look

[2016-10-13 21:32] Caspain commented on #351
thanks alot it worked.

[2016-10-13 21:34] Caspain opened #352 "TileView does not render Custom Views"
Below is my code:

[code]

the view is inflated from this layout file:

[code]

---------------------------------------
However the view is not shown on the tileview.

[2016-10-13 21:38] moagrius commented on #352
do you want the inflated layout 120 or WRAP_CONTENT?  the layout file says 120 but you're overriding that when you make the LayoutParams object with WRAP_CONTENT.

what happens when you swap the PulsatorLayout with a TextView (that has random text) or an ImageView?  Does that work?

[2016-10-13 23:09] Caspain commented on #352
images work

[2016-10-14 01:04] Caspain commented on #352
i dont' know why the pulsator is not showing i fixed the layout params. Does this mean your implementation is view specific?

[2016-10-14 01:14] moagrius commented on #352
I'm not sure either.  I suspect it's a layout param thing.

Did you try inflating the view directly into the TIleView?

[code]

If you post your code (or fork/branch a demo) with enough code to repro, I'll take a look

No, not at all.  It's still a ViewGroup; the only thing to be aware of is that it lays out all it's children by their measured height and width - if a child cannot supply those (e.g

[2016-10-14 01:15] #351 closed

[2016-10-14 01:32] Caspain commented on #352
tileView.addMarker(LayoutInflater.from(getContext()).inflate(R.layout.pulsator, tileView),-76.7446,18.0191,null,null);
--------------------------------------------------------
I tried your suggestion, things got alot crazier.

FAILED BINDER TRANSACTION !!!  (parcel size = 20146160)
10-13 20:29:15.861 23201-23201/utech.maps.com.sapna.mapsutech E/AndroidRuntime: Error reporting crash

[2016-10-14 01:40] moagrius commented on #352
A) when you use the inflater like that, it does not return the view that you inflated, it returns the view you inflated into.  you're saying `tileView.addView(tileView)`.  this is not a TileVie things, it's an Android thing

B) if you use that inflate signature (with a `rootView` parameter), you don't need to use `addView` also - the inflater adds it by itself.  Again, this is an Android thing fro

[2016-10-14 03:33] Caspain commented on #352
Yea all failed that you recommend.
As for the code , it;s exactly the same from RealActivtityMap from your initial code, the only difference is that instead of using a imageview in addMarker i am using pulsator view.

[2016-10-14 04:20] mehdiae opened #353 "DetailLevel does not work"
I tried to have different contents in different levels but the TileView always uses the largest resolution and ignores the others. Is it suppose to work like that?

[2016-10-14 23:42] moagrius commented on #353
If you look at the `RealMapTileViewActivity` in the demo, you can see an example of different detail levels - for example, some labels on the map are larger or differently displayed at different levels (it's a little subtle, but you should be able to tell)

[2016-10-14 23:43] moagrius commented on #352
if you want to post a branch or fork, i'll take a look.  otherwise not much i can do if it works with all other Views except for the custom View you're using...

[2016-10-16 18:03] Caspain commented on #352
Alright many efforts i rsolve the custom view rendering, nothing was wrong the tileview view addition.

However , the problem is now is that the view is not specifically place correctly.

Let me expound :  marker.setImageResource(Math.random() < 0.75 ? R.drawable.map_marker_normal : R.drawable.map_marker_featured);
  tileView.addMarker(marker, point[0], point[1], null, null);
works perfectly . eg

[2016-10-16 18:12] moagrius commented on #352
if it's working with the imageview, then clearly it's not a TileView issue - a ViewGroup doesn't care or even know what kind of View it's laying out.  Earlier in your code you had a container that was 120x120 around the pulsor that was 100x100, could that be it?  How does the pulsor appear when laid out in a FrameLayout?  Again, if you can branch and modify a demo (with as minimal code as needed t

[2016-10-16 19:04] moagrius commented on #347
i just tested and both HotSpots and Markers are working as intended.  Are you saying that HotSpots you registered were not invoking attached HotSpotListeners.onHotSpotTap method?  Or are you just saying that the x and y values reported to that method are not what you expected?

To see HotSpots working, you can dd this block to RealMapTileViewActivity:

[code]

If you tap near Second Bank of the Un

[2016-10-17 02:49] Caspain commented on #352
Alright i resolved the problem .Tileview was not the culprit.

However i notice a slight mis step in your implementation. It appears when you designed the library you had imageview in mind, hence this line of code in add marker layout.

 public View addMarker( View view, int x, int y, Float aX, Float aY ) {
    LayoutParams layoutParams = new LayoutParams(ViewGroup.LayoutParams.WRAP_CONTENT ViewGr

[2016-10-17 15:16] jampez77 opened #354 "Online map tiling service."
What service was used to create the map tiles in the demo?

[2016-10-18 01:13] moagrius commented on #354
the images were tiled using a very common program called imagemagick.  it's uses a CLI and does not have a GUI but has been around for a long time and is very well documented and very stable.

there's a wiki entry on how to create tiles from an image: https://github.com/moagrius/TileView/wiki/Creating-Tiles - i believe they were written for Windows but should be easy to adapt to a mac/nix environm

[2016-10-18 01:13] #354 closed

[2016-10-18 01:20] moagrius opened #355 "addMarker should allow predefined dimensions"
currently, the convenience method `TileView.addMarker` enforced WRAP_CONTENT on both axes - it should allow EXACTLY as well.

ref https://github.com/moagrius/TileView/issues/352

[2016-10-18 01:25] moagrius commented on #352
you're right, that's a bad decision on my part.  i've created #355 to address that

for now, if this is causing you issues, note there is a signature for `addMarker` that accepts arbitrary LayoutParams:

[code]

So you could use something like:

[code]

Thanks for posting.

[2016-10-18 01:25] #352 closed

[2016-10-18 01:25] moagrius commented on #353
closing this for now.  post back if this is not resolved.

[2016-10-18 01:25] #353 closed

[2016-10-19 08:53] jampez77 commented on #354
Thanks for replying. I have another question though, how do the scales on the demo app line up with traditional map zoom levels?

For example is scale level 0.2500f zoom level 11 based on this link? http://wiki.openstreetmap.org/wiki/Zoom_levels

[2016-10-19 16:11] moagrius commented on #354
there's no associate with that metric.  scale for a detail level can be whatever you want it to be.  0.25 would be the original image at 25%.  the original image can be whatever size or zoom you want it to be.  remember that A) this is a tiling library, not a mapping library, and B) we have no relationship with the "world" other than what you implement.  if you want traditional mapping, you might

[2016-10-20 14:03] RemyDupont opened #356 "last tile is stretching"
hi,

Here is my problem, as you can see below, the last tile, which is not a square is stretching.
Same thing with zoomed tiles

Right right one
![0_0](https://cloud.githubusercontent.com/assets/22959691/19563169/602e3128-96df-11e6-9097-fa6dade2cde9.jpg)

The tiled image
![screenshot_2016-10-20-16-04-32](https://cloud.githubusercontent.com/assets/22959691/19563194/7346d44a-96df-11e6-982b-c497f92ce

[2016-10-20 14:13] VincentChann opened #357 "Tiles rendering got stretched when they don't fit perfectly"
![img](https://cloud.githubusercontent.com/assets/11411363/19562947/918a8f9c-96de-11e6-98a3-9cf7cb636dac.png)
As you can see on your demo app, when you zoom on Mona Lisa, on the right side :
You can see every tiles being stretched.
It is not very highlighted in this example.

## The problem is more visible on this image :
I have try to put my tiles in your demo and it worked perfectly in precedent

[2016-10-20 18:18] moagrius commented on #356
closing this, duplicate of #357

[2016-10-20 18:18] #356 closed

[2016-10-20 18:20] moagrius commented on #356
yeah this is a bug, i know what's causing it.  i'll get a fix out when i can, probably this weekend.  if you need a temporary workaround, you can either fork the repo and i'll tell you what to change, or you can make your edge tiles full size with transparent pixels.  if you can wait a few days, that's probably best.

thanks for catching it.

[2016-10-20 18:21] moagrius commented on #357
yeah this is a bug, i know what's causing it. i'll get a fix out when i can, probably this weekend. if you need a temporary workaround, you can either fork the repo and i'll tell you what to change, or you can make your edge tiles full size with transparent pixels. if you can wait a few days, that's probably best.

thanks for catching it.

[2016-10-20 18:21] moagrius commented on #347
closing for now, but i'll be alerted when/if you follow up and we can re-open if necessary

[2016-10-20 18:21] #347 closed

[2016-10-22 09:15] initiuminc1 commented on #313
@Deliganli Thanks

[2016-10-24 00:20] Dev-iL commented on #237
If anybody else runs into this problem, it can be solved by shifting the `MotionEvent` like so:
[code]
In other words, the position needed for correct hitbox handling of the `X` coordinate is not `event.getX()` but `( event.getX() + getScrollX() ) / getScale()` (and similarly for `Y` ).

[2016-10-24 16:24] krabo0om opened #359 "Touch Events for Callouts outside of CalloutLayout"
Touch events don't get passed to the part of the view that is outside of the callout/marker layout (the orange parts).
This super illustration might help to visualize it (taken from Android Device Monitor): [![Layout](https://s15.postimg.org/g6lxhd2mz/tileview.png)](https://postimg.org/image/rvpx5btlj/)
How easy would it be to resize the Callout/Marker Layouts to match the parent (TileView) and ca

[2016-10-24 22:16] moagrius commented on #359
why is the calloutlayout smaller than the tileview?

[2016-10-25 03:08] parcool opened #360 "How to get the touched position?"
I want to get the x,y relative the map view not rawX,rawY relative screen,how could i do?

[2016-10-25 08:06] krabo0om commented on #359
I have no idea, but I guess it's related to PR #318 which also led to `setClipChildren( false );` in the `MarkerLayout` (b43ab2e9db7dc36c9b8d2cf2e759599b164ec12d, discussed at the end of #338 )

[2016-10-25 09:02] parcool commented on #360
I means that don't add marker on the map,just touch and get the position.

[2016-10-25 22:58] moagrius commented on #359
still, all children of tileview (zoompanlayout) should fill up the container.

can you post a branch with a demo modified to show the issue?

[2016-10-25 23:00] moagrius commented on #360
check the last question in the FAQ https://github.com/moagrius/TileView/wiki/FAQ

is that what you mean?

[2016-10-26 12:51] krabo0om commented on #359
Please check out my [359_showcase branch](https://github.com/krabo0om/TileView/tree/359_showcase) where I made it clearer. None of the demos used `tileView.setMinimumScaleMode( ZoomPanLayout.MinimumScaleMode.FIT )`.
So in my modified "Large Image" demo just tap Lisa to make a callout (simple button) appear, tapping the button shows a Toast message. If you tap above Lisa (not in the whitespace) the

[2016-10-26 13:50] parcool commented on #360
@moagrius that's right,i will try it tomorrow！

[2016-10-26 21:38] moagrius commented on #359
great i'll check it out asap, thanks for posting that

[2016-10-27 02:46] moagrius commented on #355
fixed in https://github.com/moagrius/TileView/releases/tag/2.2.3

[2016-10-27 02:46] #355 closed

[2016-10-27 02:47] moagrius commented on #352
fixed in https://github.com/moagrius/TileView/releases/tag/2.2.3

thanks again for catching that

[2016-10-27 02:47] moagrius commented on #357
fixed in https://github.com/moagrius/TileView/releases/tag/2.2.3

thanks again for catching and posting

[2016-10-27 02:47] #357 closed

[2016-10-27 02:48] moagrius commented on #359
didn't have time to get this one done tonight, i'll try again tomorrow, if that fails then this weekend

[2016-10-27 07:05] krabo0om commented on #359
thanks mate

[2016-10-27 15:37] krmao opened #363 "Crashed exception"
after lots of  zoom operations:
crash and get this log:
[code]

[2016-10-27 15:46] krmao commented on #363
My device is dell Venue7 3740 , only 1G memory.
this problem is happened every time while I oft-repeated zoom in by  gesture。

[code]

[2016-10-27 15:49] krmao commented on #363
commit my code:
[code]

[code]

[2016-10-27 17:25] krmao opened #364 "set initMap to center"
any idea set initMap to center ?or set padingTop and use android:clipToPadding="false" ,but not useable
that is set some blank at padding left and padding top

[2016-10-28 00:56] moagrius commented on #359
ok i took a look, and you're right i've never used FIT, that's something that was added by other contributors that was never needed in any of the apps i wrote this for.  it's not a bug, and it's not a TileView-specific thing, it's just an android thing - if you're child is drawn outside of the container, it won't get touch events - you can google or check stack for many questions about this very t

[2016-10-28 00:57] moagrius commented on #364
i'm really not clear what you're asking

[2016-10-28 00:57] moagrius commented on #363
does it happen in the demos?

[2016-10-28 02:36] #359 closed

[2016-10-28 07:11] krmao commented on #364
sorry. my english is  poo.
 I  want the min scale in tileview center.
 such  as   imageview show  image    with type  fit  center.  but  tileview  is   like centercrop.

and   tileview  set padding  is  unuse.
 i guess  tileview  draw map  start   with 0  ,0   ,not  from  center.

 I also   find  tileview.setscale  not zoom from  screen center.

 may  be i should conmit  a image

[2016-10-28 08:52] krmao commented on #363
my device is at home , I will try tonight.

[2016-10-28 09:04] azizbekian commented on #221
This issue persists in `2.2.3`. Happens when zooming out.

[2016-10-28 11:08] azizbekian opened #365 "Adding View to ScalingLayout"
In the "...add a down-sampled image beneath the tile layer?" you showed how to add an `ImageView` to `TileView`. What I need is adding a layout, so that it can be zoomed. Thus I tried adding my layout to `ZoomPanLayout` instead of `TileView`, which works fine, now my layout gets zoomed in/out. But the tiles are not being displayed. I guess they are being shown beneath of my added layout.

How can

[2016-10-28 14:54] krmao commented on #363
Hi demo is no problem .
I don't know why my app has this problem.
I changed the picture half size, and no crashed , but slower than the demo.

[2016-10-28 14:54] #363 closed

[2016-10-28 17:17] Mahmoudmsa commented on #342
Hello @moagrius ,

hope you are fine, after many tries we found the problem, as we develop the application in Arabic language and for Arabic users, so many of the users have their system language as Arabic, so in this case the image doesn't appear. if the system language are something other than Arabic language it works fine.

Could you check it please, i know it is a long time since we discuss th

[2016-10-29 06:41] Mahmoudmsa commented on #342
I think I should open a new ticket to be clear and as it is a new point

[2016-10-29 17:34] Mahmoudmsa opened #366 "image tile doesn't appear if the system language is Arabic"
As we develop the application in Arabic language and for Arabic users, so many of the users have their system language as Arabic, so in this case the image doesn't appear. if the system language are something other than Arabic it works fine.

Thanks in advance

[2016-10-30 02:14] moagrius commented on #364
i think you might want to do something like this gentleman did in his fork: https://github.com/moagrius/TileView/pull/358

then you'd probably have to scroll to center.  i'm not terribly familiar with the whole "fitMode" stuff and have never used it personally.

[2016-10-30 02:17] moagrius commented on #221
will fix

[2016-10-30 02:17] moagrius commented on #365
if you want a layer beneath the tiles use `addViewAt(0, view);`

[2016-10-30 02:19] moagrius commented on #363
are you using a custom BitmapDecoder?  also, try it without the path (path drawing is very computationally expensive)

[2016-10-30 02:21] moagrius commented on #342
i have no idea why system language would matter.  are you path names in arabic?  i doubt this has anything to do with TileView, it's probably just a matter of file paths or something where string encoding matters.

[2016-10-30 02:22] moagrius commented on #366
to be clear, it's just for your application, correct?  the demos function properly regardless of system language?

[2016-10-30 02:22] moagrius commented on #360
is this still open?

[2016-10-30 02:24] moagrius commented on #365
also, TileView inherits from ZoomPanLayout, they're not different instances

[2016-10-30 03:08] krmao commented on #363
yes , you are right ! thank you !

[2016-10-30 03:22] krmao commented on #364
Ok,I find the solution.
###For first question:
if the primary picture's size is 5432 x 2612, i change it's canvas to 6000 x 6000 by photoshop.
and it is shown on the center of TileView like ImageView's fitCenter.

###For secondQuestion:

I Rewrite TileView,and add function named "reset", which can reused TileView to changed mapData.
[code]

and then use it, please notice the ```setScale```

[code]

[2016-10-30 03:22] #364 closed

[2016-10-30 03:29] krmao commented on #364
thank you guys ,you replyed so quickly!

[2016-10-30 07:51] azizbekian commented on #221
I would like to describe the situation when this happens. Possibly I have a bad (customized) image getter, which sometimes may return "broken" bitmaps. When substituted it with authentic Picasso no exception occurs. Nevertheless, the lib should be ready to handle recycled bitmaps too.

[2016-10-30 15:09] moagrius commented on #364
glad you got it worked out

[2016-10-30 15:11] moagrius commented on #221
it's rare but i'm pretty sure i understand why it happens, previously i had a method to turn of recycling, but since that's a fairly old api anyway, i removed it.  it's fairly trivial to add it back in, which is why i put this issue in `willfix`

[2016-10-30 22:00] Mahmoudmsa commented on #342
i just test your demo and it has the same problem

[2016-10-30 22:00] Mahmoudmsa commented on #366
i just test your demo and it has the same problem

[2016-10-30 23:24] Mahmoudmsa commented on #366
this is a video show the bug in demo

https://youtu.be/EpLGS4YocX4

[2016-10-31 04:42] MohamedElgendyGitHub commented on #366
Hi ,
First of all i want to thank you moagrius for this amazing library and also for your fast reply for all the previous issues :)

Secondly my device language is Arabic and tiles are not visible like the demo in the video that was shown by mahmoudmsa

thank you in advance

[2016-10-31 15:38] #360 closed

[2016-10-31 15:38] moagrius commented on #365
is this resolved?

[2016-10-31 17:55] moagrius commented on #366
i can take a look but it's probably going to be at least a few days (it's a holiday today and i'm occupied tomorrow night).  feel free to try to find the fix on your end, otherwise any additional information would be helpful.  presumably there are errors printed to logcat when this happens which might be a good place to start

[2016-11-01 11:26] azizbekian commented on #365
Cannot seem to find such an API. Which class has this method?

[2016-11-01 11:56] Mahmoudmsa commented on #366
Thanks for support, will try to investigate more and will update you if i got any result or find any hint can help, and will be waiting your check result also when you get time.

Thanks again for your support and Happy Holiday

[2016-11-01 11:57] azizbekian commented on #365
When adding `LinearLayout` filled horizontally with multiple `ImageViews` as a first child of `TileView` (aka `TileView.addView(myLinearLayout, 0)`), when zooming the `TileView`, images in `LinearLayout` get stretched, whereas when this `LinearLayout` is added to `ZoomPanLayout` the zoom works perfectly fine.

[2016-11-02 00:02] moagrius commented on #366
thanks!

[2016-11-02 00:16] Caspain opened #367 "GPS - Enchancement"
Hey moagrius ,
I have previously mentioned this before, according to relative coordinates positioning.  Your examples works perfectly , when i bound my map similarly it also works.

Though not exactly, let me expound, when i bound my coordinates south east and north west,it relatively maps the coordinates. However when i pulled live gps coordinated and then use add marker , it position is way off.

[2016-11-02 00:22] moagrius commented on #367
i don't know of a way off hand - there's no "curve" built in - it just takes whatever you say your left and right edges are, and find the relative position for any number between them.

i'm sure someone has done it, and you could probably customize the positioning stuff without too much trouble (by computing yourself and not using relative bounds at all), but i don't know off hand of any resources

[2016-11-02 00:47] Caspain commented on #367
I see, thank you . But for guidance,  (by computing yourself and not using relative bounds at all), the map is a grid of pixels. By nature their relative. what exactly do you mean?

[2016-11-02 01:02] moagrius commented on #367
all TileView does is find a _relative_ position between edges.

if you're left edge is say 50, and your right edge is 100, and someone passes in a coordinate of 60 it will be at a point 20% between left and right.
[code]
that would give you 0.2, which means 20% of the way across.  you then apply that to pixels to get the actual coordinate on screen:
[code]
As you can see, it's a very simple system

[2016-11-03 00:42] moagrius commented on #365
I'm not sure what you mean.  There is only one `ZoomPanLayout` which is also the `TileView`, unless you're adding your own.

[2016-11-03 06:02] azizbekian commented on #365
Sorry for confusion. I meant `ScalingLayout`.

`tileView.getScalingLayout().addView(linearLayout, 0);`

This way the zooming works fine. But if I add the `linearLayout` as a child of tileView, then zooming stretches the images that are inside of this `linearLayout`.

[2016-11-04 00:18] moagrius commented on #365
OK.  There's a built-in ScalingLayout right above the tiles: https://github.com/moagrius/TileView/blob/master/tileview/src/main/java/com/qozix/tileview/TileView.java#L113

This one is automatically synced with the TIleView's scale.  You can move this one to beneath the tiles, with something like:
[code]
Or, you could make your own ScalingLayout, add that at the first level, but then you'd have to

[2016-11-04 04:22] azizbekian commented on #365
Thank youk, @moagrius , this works pretty nice!

[2016-11-04 04:22] #365 closed

[2016-11-04 04:34] moagrius commented on #365
:thumbsup:

[2016-11-04 09:19] gregkoral opened #368 "Buttons"
Hi!
I'm still a beginner Java programmer, so please forgive if this is a bit stupid question.
I'm writing avery simple app, based on TileView demo. Actually it's the "Real Map" activity adapted to my needs.

My question is:
The Tile View object seems to create a layout programatically, taking control of the whole screen. Is it still possible to add buttons that are superimposed over it? I want to

[2016-11-04 15:56] azizbekian opened #369 "Lazy load layer"
Say I have this:
`tileView.addDetailLevel(1.000f, someFancyFormat, TILE_CELL_SIZE, TILE_CELL_SIZE);`

And my current scale is 0.500f
What I want is to load 1.000f images only when user zoomes that much, otherwise just do nothing. Conversely, stop loading that layer's images as soon as user zoomes out (say user zoomed in to 1.3f than zoomed out, we're no longer interested in that layer's tiles).

I

[2016-11-04 19:41] moagrius commented on #368
I would probably put the TileView in a RelativeLayout, then put the buttons above it.

e.g.,

[code]

[2016-11-04 19:48] moagrius commented on #369
you could have a detail level that just returned an empty (or transparent) bitmap.  You could also make the cell size as big as the entire TileView so it didn't make a bunch of them.

you'd need to create your own `BitmapDecoder` implementation, but you could probably just hack the existing one for assets - maybe just check if `data` is null, and if so return an empty or transparent bitmap.

you c

[2016-11-05 18:40] Mahmoudmsa commented on #366
Hello @moagrius, Did you have a chance to check this issue, our developer tried to investigate but unfortunately he hit the wall and he couldn't fix it.

Thanks in advance

[2016-11-05 19:54] moagrius commented on #366
Not yet

[2016-11-07 21:38] #367 closed

[2016-11-07 21:38] #368 closed

[2016-11-08 06:41] Mahmoudmsa commented on #366
Hello @moagrius , hope everything is fine, any updates? i know you may be don't have time, but actually my project is waiting for this fix to be published, so i will be thankful if you give it a try, and you could charge me if you want also.

Thanks in advance

[2016-11-09 06:01] initiuminc1 commented on #313
@Deliganli did you missed anything. i can't see any codes for setting the rotation degrees.

Thanks

[2016-11-11 01:43] #369 closed

[2016-11-11 01:59] moagrius commented on #366
this has been fixed in https://github.com/moagrius/TileView/releases/latest

[code]

You just needed to use a Locale in your BitmapDecoder.

[2016-11-11 02:23] moagrius commented on #221
fixed in 2.2.5 https://github.com/moagrius/TileView/releases/tag/2.2.5

[code]

[2016-11-11 02:23] #221 closed

[2016-11-11 02:23] #366 closed

[2016-11-13 11:40] Mahmoudmsa commented on #366
@moagrius Thank you very much, appreciate your response. it works fine

[2016-11-14 11:49] Rockmegit opened #372 "Is it work with tile images that are stored in a folder in sdCard?"
Hi moagrius.

Is it work with tile images that are stored in a folder in sdCard.
if yes than how can setUp tileView, please give some info.

 private static String PATH = Environment.getExternalStorageDirectory()
            + File.separator +
            "/projects/";

tileView.addDetailLevel( 1f,PATH + "524/tiles/tiles_%d_%d.png" , 256, 256);

[2016-11-14 14:04] moagrius commented on #372
Implement your own BitmapProvider.

[code]
And tell your tileView instance to use it:
[code]

[2016-11-14 16:11] jcarnide opened #373 "Feature Request: Infinite Scrolling"
First and foremost I just want to say that this library is awesome!

With that being said, I was wondering if infinite scrolling would be a feature you'd consider adding at some point down the road.

If not, how difficult would it be in your opinion to alter the library to get infinite scrolling to work?

After having a brief look at the `ZoomPanLayout` class, it looks like there's a decent amount

[2016-11-14 18:56] moagrius commented on #373
it would be a lot of work, but not very complicated, if that make sense.

are you trying to represent an infinite plane (like the surface of a sphere, like the earth), or do you want to "loop" around the same set of tiles?

version 3 will be plugin-based, so something like this might qualify.  it's probably not something i'd do without a lot more requests, but since it will be plugin based, the in

[2016-11-14 19:03] jcarnide commented on #373
It would be the former--something where users could infinitely scroll horizontally through a map, similar to how the Google Maps API allows you to do.

Interesting, so the plugin-based rendition of this library would make it a lot easier to implement something like this?

Thank you for the prompt response.

[2016-11-14 19:11] moagrius commented on #373
Gotcha.  Any reason why you wouldn't use Google Maps for that?  TileView is usually to fill holes where Google Maps doesn't work (large images, fictional places, very close in work, indoors, etc).

That's the intention.  I've found that most feature requests are really specific to one user's app and modifying the core doesn't seem appropriate.  Also if people are just using the lib for non-map typ

[2016-11-14 19:14] jcarnide commented on #373
It's a little clunky for my use case. I basically need a custom tile source, markers, path drawing and infinite scrolling.

Sounds very promising, looking forward to it.

Sorry, I edited my previous message slightly to add in a question, but I don't think you saw it in time.
I was wondering if you had any recommendations/starting points if I were to look into doing the above by myself?

[2016-11-14 19:29] moagrius commented on #373
Just off the top of my head: try to make a huge base size (not sure how big the sphere is, it might be too big for this example, but it's a jumping off point), maybe a million dots square.  Most of the work will be in wrapping the edges so the "end" is on the left side of the "start" (on both axes).

Remember that the `data` argument of a DetailLevel can be anything (which is available in `BitmapD

[2016-11-15 05:38] Rockmegit commented on #372
are you saying i am supposed to return all bitmap recursively, m trying it from my side but if you provide some sample that would be great

thanks

[2016-11-15 11:42] Rockmegit commented on #372
it worked, one more thing i wanted to know how can i add child layer to TileView and capture child and tileView event separately Like OnClick,OnLongPress,

[2016-11-16 00:26] moagrius commented on #372
There are instructions for adding scaling and non scaling children in the readme

[2016-11-17 00:35] #372 closed

[2016-11-18 15:12] VincentChann opened #374 "Reload map"
I want to reload dynamically a new map in the same layout of map, is it possible ?

[2016-11-18 19:51] MisterRager commented on #374
Here's a sample of some code that does that in the app I'm working on:

[code]

[2016-11-23 13:53] joonthepark opened #375 "Add image subviews to each tile?"
Is it possible to have 2 layers of tile image for each tile?

Each tile in TileView would have 2 views that would use different image depending on its zoom scale.

From: (Normal usage of TileView)

    TileView
      - Tile0
          - View A0
      - Tile1
          - View A1
      - Tile2
          - View A2
        ...

To:

    TileView
      - Tile0
          - View A0
          - View B0

[2016-11-23 21:26] moagrius commented on #375
Your bitmap can be whatever you want, it does not need to be a single file from assets.  Look into the BitmapDecoder interface and how it works - it's totally up to you what Bitmap is returned.

That said, there are no "subviews" - a tile is not an ImageView, and in fact the container is a single view that draws each bitmap to it's canvas.

[2016-11-28 03:37] joonthepark opened #376 "How to get touched coordinate inside the map?"
I want to get a touched position inside the map, but the code below returns x, y within the tile view frame - it ignores the size, zoomed scale and scrolled position of the map.
How can I get the touched position within the map?

    ...
    mGestureDetector = new GestureDetector(this, new GestureDetector.SimpleOnGestureListener() {
            @Override
            public boolean onSingleTapUp(Mo

[2016-11-29 00:37] moagrius commented on #376
https://github.com/moagrius/TileView/wiki/FAQ

[2016-11-29 00:37] #375 closed

[2016-11-30 12:00] #376 closed

[2016-11-30 12:08] joonthepark opened #377 "Things not working if I add tileView not as 'setContentView(tileView)'"
In  MainActivity.xml,

    <?xml version="1.0" encoding="utf-8"?>
    <RelativeLayout
         xmlns:android="http://schemas.android.com/apk/res/android"
         xmlns:tools="http://schemas.android.com/tools"
         android:id="@+id/activity_main"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:background="#bbbbbb"
        tools:context="

[2016-11-30 13:06] moagrius commented on #377
You need layout params for any child of your RelativeLayout. Please research basic Android operations before creating a TileView issue.  Thanks

[2016-11-30 13:25] #377 closed

[2016-12-04 11:07] peterLaurence commented on #374
To sum up the detailed answer of @VincentChann , you can do this with the following calls on your `TileView` instance:
`TileView.reset()`
`TileView.getDetailLevelManager().resetDetailLevels()`

Then add your `DetailLevel`s like you've done in the first place. Set your `BitmapProvider` if it needs to be changed.
@VincentChann is it ok for you?

[2016-12-04 11:16] peterLaurence commented on #246
@mkv123 We are reviewing right now a PR from @MisterRager : #379. It may answer your expectations.

[2016-12-06 17:53] MisterRager commented on #246
@mkv123

Use `TileView#setBitmapRecycler(BitmapRecycler)`. The `BitmapRecycler` will be handed every `Bitmap` instead of calling `Bitmap#recycle` directly, so you can try to pool your instances instead.

[2016-12-06 21:12] #246 closed

[2016-12-09 00:39] ccardenasT opened #380 "Question about gestures."
I have been playing with your library and is great!!! and sorry if this was not the correct place to ask.

I am really new using this library and I was wondering if there is an easy way to override the gestures. For example, increase the amount of zoom when a double tap gesture happens.

I know that I can override the double tap event if I extend the TileView class, but since zoomPanLayout is the

[2016-12-09 02:17] moagrius commented on #380
Thanks for your feedback!  To answer your question, yes you'd want to subclass TileView and override `onDoubleTap`.  TileView _is a_ ZoomPanLayout...  TileView extends ZoomPanLayout, so your subclass would extend TileView, so whatever override you provided for onDoubleTap would do exactly that - override any inherited behavior.

[2016-12-09 03:37] wizardkhinz18 opened #381 "error converting image"
![erro](https://cloud.githubusercontent.com/assets/8487754/21036859/e5587d72-be03-11e6-81b2-107c84171b3c.png)

[2016-12-09 03:47] moagrius commented on #381
Not a TileView issue.  Looks like the path is booked, maybe don't escape your slashes

[2016-12-09 03:47] #381 closed

[2016-12-09 03:57] wizardkhinz18 commented on #381
so can you give me the right script?

i tried this :
convert C:/map/bellagiogroundfloor.png -crop 256x256 -set filename:tile %%[fx:page.x/256]_%%[fx:page.y/256] +repage +adjoin C:/map/tile-%%[filename:tile].png

but it gives me a file not image.

[2016-12-09 04:01] moagrius commented on #381
That's an imagemagick issue

[2016-12-09 04:51] wizardkhinz18 commented on #381
what's the alternative way to convert the image into tiles?

[2016-12-09 06:22] ccardenasT commented on #380
I really missed that, makes total sense. I need to dig more in depth into the code. Thanks for your quick response.

[2016-12-10 04:59] moagrius commented on #380
np!

[2016-12-10 04:59] #380 closed

[2016-12-12 19:06] MisterRager opened #382 "JUnit Tests Fail When Using JACK/Java 8 on Consuming Application"
I have a test failure related to how the library is compiled when using Java 8/JACK:

[code]

[2016-12-12 21:46] peterLaurence commented on #382
I see that you are using Robolectric. Are you sure that this is not related to this (because robolectric provides an implementation of android.jar but it may not be suitable in that particular test).

[2016-12-16 19:54] MisterRager commented on #382
This also shows up in the designer view - no Robolectric there. I think I have an idea on how to fix it. PR imminent...

[2017-01-01 18:44] #374 closed

[2017-01-04 07:18] prakashgowinji commented on #57
Want to do same as srinivasttt said, but unable to follow your points. Could you please give us a sample to addDetailLevel from sdcard

[2017-01-04 08:37] Rockmegit commented on #57
below you can find sample of code that is using images from sdcard.

tileView.setBitmapProvider(new BitmapDecoder(fileList2.get
				(0).getProjectId() + "/" + fileList2.get(0).getSheetToken()));

		//tile.addDetailLevel(1f,DB_PATH2 + filelist.get(0).getProjectId() + "/" + filelist.get(0).getSheetToken()+"/base_image.tiff");
		tileView.addDetailLevel(.5f, "result_500_%d_%d.tiff", 256, 256);

		tile

[2017-01-05 16:14] mohitmadaan27 opened #383 "i got struct in adding marker on real time by single tapping"
hi  i want to add marker on runtime while single tapping
but when i implement this code
` double longitude = getTileView().getCoordinateTranslater().translateAndScaleAbsoluteToRelativeX(getTileView().getScrollX() + x, getTileView().getScale());
        double latitude = getTileView().getCoordinateTranslater().translateAndScaleAbsoluteToRelativeY(getTileView().getScrollY() + y, getTileView().getSca

[2017-01-06 02:00] MisterRager commented on #382
I can't seem to test this. When I use debug builds of the library, I can't get the client app to crash, but I can't seem to even use the aar from release builds. @moagrius what is the setup you use for building the actual lib?

[2017-01-06 16:04] soske98 opened #385 "Markertaplistener doesnt work when tapped"
How to use this in fragment. I'm using this in the fragment, then markertaplistener doesnt work when tapped and callout doesnt show . that's the only issue i got and then rest is working fine. Can you guide me how to fix this Pls.

here is my code.

[code]

[2017-01-06 22:39] MisterRager commented on #382
This is the fix I'm trying to find a way to test:

https://github.com/moagrius/TileView/compare/master...MisterRager:compile-with-1.8-support

[2017-01-06 23:41] MisterRager commented on #382
Another oddity: when I run the test with the `-noverify` flag, this is the error:
https://github.com/robolectric/robolectric-gradle-plugin/issues/145

[2017-01-07 02:50] moagrius commented on #383
longitude is y, latitude is x

[2017-01-07 02:58] moagrius commented on #385
i don't see anything obviously wrong.  i'd move all your code in `onActivityCreated` to `onCreateView`.  do you maybe have a layer above the tileview in your layout?

[2017-01-07 03:05] moagrius commented on #382
i've never tried with java 8.  i don't do anything special to build in AS, but i do publish the artifacts using a gradle task, based off this: https://raw.githubusercontent.com/blundell/release-android-library/master/android-release-aar.gradle

does that help?

[2017-01-07 11:45] mohitmadaan27 commented on #383
yes its works when image is 1.000f level
but when i zoom image and then tap ,then pin is not pointing on that position by  latitude and longitude

[2017-01-07 18:02] moagrius commented on #383
what you have should (roughly) work

A) I think you have lat and lng mixed up.  I see you're setting latitude from y and longitude from x
B) make sure you're using anchor offsets if you're positioning markers or callouts

[2017-01-09 08:56] mohitmadaan27 commented on #383
[https://drive.google.com/file/d/0B3o2JwoWV26cZlBJeWp4UW9Hd0E/view?usp=sharing](link to video )

hi i understand what you saying but my problem is

i want add pin by tapping on screen wheather it is zoomed or zoom out screen
so i can add pin by zoom the tileview  or zoom out the tileview
i want if i zoom tileview then tap the pin point that location where i tapped but it is pointing some other pos

[2017-01-09 09:58] peterLaurence commented on #383
Can you show us the relevant part of your code? It's hard to tell right now what you're doing wrong.

[2017-01-09 10:13] mohitmadaan27 commented on #383
` tileView.setSize( 2000, 3000);
HotSpot hotSpot = new HotSpot();
 hotSpot.set( new Rect( 0, 0, 2000,3000) );

   hotSpot.setHotSpotTapListener(this);
  tileView.addHotSpot(hotSpot);

  @Override
  public void onHotSpotTap(HotSpot hotSpot, int x, int y) {
    Log.e("onHotSpotTap", "onHotSpotTap");
    double longitude = tileView.getCoordinateTranslater().translateAndScaleAbsoluteToRelativeX( tileV

[2017-01-09 10:19] mohitmadaan27 commented on #383
Hi,
can you provide source  code how can i add marker on tile by tapping on screen ,i think i am doing wrong something.

[2017-01-10 10:07] mohitmadaan27 commented on #383
Hi i resolved by doing this .Hotspot was giving me wrong position

`final GestureDetector gestureDetector = new GestureDetector(this, new GestureDetector.SimpleOnGestureListener() {
            @Override
            public boolean onSingleTapConfirmed(MotionEvent motionEvent) {
                //do something
                Log.e("single", "touch");
                int h = Math.round(motionEvent.g

[2017-01-10 11:59] mohitmadaan27 commented on #383
Hello,
when i tap on marker it still add new marker .
i tried with this #309  and make boolen to processHit but it always return false

`public boolean processHit( int x, int y ) {
    if( mMarkerTapListener != null ) {
      View view = getViewFromTap( x, y );
      if( view != null ) {
        mMarkerTapListener.onMarkerTap( view, x, y );
        return true;
      }
    }return false;
  }`

[2017-01-10 14:00] peterLaurence commented on #383
Have you correctly implemented the `onMesure` method of your marker?
See [this link](http://stackoverflow.com/questions/12266899/onmeasure-custom-view-explanation) for explanation

[2017-01-10 14:02] soske98 commented on #385
I fixed it already, thanks for your reply. I have another question how can I add  individual title for individual points and subtitle too? Like this one.
[https://pictub.club/image/sEJQZk](url)

here my code
`  private MarkerLayout.MarkerTapListener markerTapListener = new MarkerLayout.MarkerTapListener() {

        @Override
        public void onMarkerTap(View view, int x, int y ) {

[2017-01-11 01:07] moagrius commented on #385
i don't understand the question

[2017-01-11 02:25] soske98 commented on #385
How can i change marker text according to it position?if i click point one settext=marker1 and if iclick the point two settext=marker2

[2017-01-11 09:43] cmappdroid opened #386 "Drag by finger and point the pin on that position"
Hello ,First of all thanks for this awesome library

i need one help
i want to appear pin  by long press and drag that pin to location where i want to add pin and when i leave my finger add pin to that position ,how i can achieve this ?

i have achieved add pin by long press but i want to drag and leave that pin there

if it can be done by Drag listener so how can i achieve from this.

[2017-01-12 12:36] cmappdroid opened #387 "need help marker is blinking on movemaker(view,x,y)"
hi i am trying to move marker drag and drop but when i start moving it start blinking.

`  private MarkerLayout.OnTouchListener markerTouchListener = new MarkerLayout.OnTouchListener() {

        public double longitude,latitude;

        @Override
        public boolean onTouch(View view, MotionEvent event) {
            switch (event.getAction()) {

                case MotionEvent.ACTION_DOWN:

[2017-01-13 03:21] moagrius commented on #385
just like you would any click listener - a common pattern is to use `setTag` on the `View` specifying arbitrary data.

closing as this is not a TileView related question

[2017-01-13 03:21] #385 closed

[2017-01-13 03:23] moagrius commented on #386
there's no built in mechanism for this.  from your deleted code, first thing i see is that you probably want to return false from the touch event, otherwise you'll end up dragging the marker and the map.

closing as this is not a library-related issue

[2017-01-13 03:23] #386 closed

[2017-01-13 03:23] moagrius commented on #387
see my response to #386

[2017-01-13 03:23] #387 closed

[2017-01-13 03:27] soske98 commented on #385
Okay. Thank you for your reply.

[2017-01-13 03:41] moagrius commented on #385
here's the basic idea:

[code]
does that help?

[2017-01-24 02:05] soske98 opened #388 "Need help."
how can i do this?
tileview.addMarker( SampleMarker1, point[0], point[1], ico_mark, "Marker 1");
tileview.addMarker( SampleMarker2, point[0], point[1], ico_mark2, "Marker 2");

this is mycode

    for( double[] point : points ) {
            // any view will do...
            ImageView marker = new ImageView( this );
            // save the coordinate for centering and callout positioning

[2017-01-25 00:47] moagrius commented on #388
a marker is any view.  by calling `addMarker` you just add that view to a layout that maintains it's relative position regardless of scale.

[2017-01-25 01:11] soske98 commented on #388
How

[2017-01-25 01:11] #388 closed

[2017-01-25 11:29] mohitmadaan27 opened #389 "getting wrong position"
Hi ,this is not issue but i got stuck in one issue.
i am implementing ontouch event on marker for moving the marker.
but when my action up called i use this code
` final double lat = tileView.getCoordinateTranslater().translateAndScaleAbsoluteToRelativeX(tileView.getScrollX() + motionEvent.getX() , tileView.getScale());
                                final double lng = tileView.getCoordinateTrans

[2017-01-25 14:27] fesp opened #390 "Most efficient way to display significant amount of custom scaling views"
Not an issue, but I was wondering if you can advise on how to add a (large) number of views to the tile view that should scale along with the map. On the '_How do I..._' you have a section called '_...add my custom View to the TileView, so that it scales?_'. This is exactly what I want, and it works fine for a limited amount of images. But I'd like to have about 100 of those views on a map of abou

[2017-01-25 23:51] moagrius commented on #389
event.getX/Y returns the x/y position relative to the top/left of the View, i believe.

[2017-01-25 23:55] moagrius commented on #390
there's nothing out of the box that's going to help.  with 100 imageview generally - not to mention scaling or in tileview - you're very likely to run out of memory - as those images scale, the problem will get worse.  there's no simple answer, i'm afraid - you're probably going to run into the same problem that this library was made to handle - very limited memory for displaying images.

you're a

[2017-01-26 07:08] peterLaurence commented on #389
I have already done that. He is the `View.OnTouchListener` i used :

[code]

Hope that helps.

[2017-01-26 07:22] peterLaurence commented on #390
It might be a good idea to render HotSpots only if they are at least partially in the current viewport. Maybe in v3...

[2017-01-26 09:27] mohitmadaan27 commented on #389
Thankyou @peterLaurence  and  @moagrius  for rply. @peterLaurence  yeah it works Thankyou :).

[2017-01-26 09:27] #389 closed

[2017-01-26 09:57] fesp commented on #390
Thanks guys for your quick replies. I was (ignorantly) hoping there would be a simple solution.
@peterLaurence What do you mean with 'rendering HotSpots'? HotSpots aren't visible, are they?

[2017-01-26 14:35] peterLaurence commented on #390
@fesp IIRC, HotSpots currently are just views that we add the the `TileView`. As child layouts, those HotSpots's `onDraw` methods are called every time the parent view is drawn. This can require at lot of memory if there are lots of child views. Also, as the scale changes, it requires a heavy load on the CPU to calculate all child's sizes, no to mention the OOM risk.
But nothing is impossible :)
Y

[2017-01-26 15:48] fesp commented on #390
What would you suggest to use as a trigger to update such a view?
`TileView.addZoomPanListener` ?
I need to make sure the overlaying items will stick to the map and don't drift or lag. Perhaps I should start looking at the code first before asking such questions ;-)

[2017-01-27 01:15] moagrius commented on #390
hotspots are not views and don't draw, they're just Regions with a ClickListener and should be really efficient - @peterLaurence you're thinking of "scaling views" (there's no official term for them, but views added via `addScalingView`-type methods.

it's going to be really tough to handle that much image data - again, this kind of thing is why tileview exists at all.  you're best bet is probably

[2017-01-27 07:58] fesp commented on #390
No worries. Thanks again for your help (and creating the project in the first place).

[2017-01-29 22:40] Dev-iL commented on #324
[This library](https://github.com/mg6maciej/android-maps-extensions) could be helpful in figuring this issue out.

P.S.
I, too, have done something related to clustering in the past. Feel free to [check it out here](https://github.com/Dev-iL/OverlappingMarkerSpiderfier-java), maybe you could get some more ideas...

[2017-02-02 11:20] eulerdisk opened #391 "Load a single non-tiled image from internet"
This is not really a issue, maybe something is missing from the documentation. I was wondering how I can load a single image from internet without knowing its size beforehand.

At the moment the best I can do is this:

[code]
Is there a way without knowing the size ??

[2017-02-02 23:44] moagrius commented on #391
tileview is meant to manage tiled images, because large untiled images will often crash low-memory devices. it will not tile the image for you.

the size you provide is the total size of all the tiles that make up a certain level.

if you just want to display a single image with scrolling and flinging, i'd probably just use a ZoomPanLayout that contained an ImageView.  You'd have to find out the s

[2017-02-02 23:44] #383 closed

[2017-02-02 23:44] #390 closed

[2017-02-02 23:44] #391 closed

[2017-02-16 03:56] waynelimt opened #392 "Scaling Map Markers on TileView 2.2.6"
Hi moagrius, thanks for the awesome widget. I've seen the issue on "Marker scaling" (#88), you suggested the code to change to include the feature of scaling map markers, you mentioned the code is located in MarkerManager.java.
However, in release version 2.2.6, this file is not present, and the closest I can find is MarkerLayout.java. Also, a few variables in the code you posted is not present in

[2017-02-17 00:57] moagrius commented on #392
Yeah that's a very old post, from version 1.x.  You can sync with the scale though and do it yourself.  You won't get hit area though - you could try to have hotspots mirror them but you'd have to manage all that bookkeeping.  Do you want the layout to change or the pixels to stretch (e.g., for the former, a textview would have the same size font but show more words per line; in the latter the vis

[2017-02-19 00:56] soske98 opened #393 "how to add pinch to zoom in my button"
I want to create button that allow pinch to zoom like in other map that have plus and minus button for zoom. How can i do that?

Here my code
Button zoomin = (Button)findViewById(R.id.button1);
zoomin.setOnclickListener(new View.OnClickListener(){
@Override
public void OnClick(View v) {
???
}
});

[2017-02-19 01:04] moagrius commented on #393
the javadocs are https://github.com/moagrius/TileView

there are a number of scale methods, including `setScale`, `setScaleFromCenter`, `smoothScaleTo`, `smoothScaleFromCenter`, etc

the api is well documented; please consider reading the available resources before opening an issue

[2017-02-19 01:08] soske98 commented on #393
Sorry about that. Thank you for info.

[2017-02-19 01:08] #393 closed

[2017-02-19 01:09] moagrius commented on #393
No problem :)

[2017-02-19 03:51] waynelimt commented on #392
Hi, I would wish to have scaling markers (when I zoom in, the markers will grow together in size) and when I zoom the map out, it will shrink too. I am hoping to use a marker (movable) as a navigation indicator in an indoor navigation app (like in Google maps where there is an indicator to represent the user within the map), but if the indicator is of fixed size, if I used a large image, it will o

[2017-02-20 01:24] moagrius commented on #392
Do you need it to be _actually_ scaled (e.g., hit area) or just the pixels transformed?

[2017-02-20 05:39] ekangBoyong commented on #71
how can i remove path using this
CompositePathView.DrawablePath path=new CompositePathView.DrawablePath();

                DisplayMetrics metrics = getResources().getDisplayMetrics();
                path.paint=new Paint();

                path.paint.setStyle(Paint.Style.STROKE);
                    path.paint.setColor(Color.RED);
                path.paint.setShadowLayer(

[2017-02-20 05:43] ekangBoyong opened #394 "Remove previous path and create new path"
How can I remove path using the following codes. I used tileView.removePath(path); but still the path drawn is not remove.

CompositePathView.DrawablePath path=new CompositePathView.DrawablePath();

                DisplayMetrics metrics = getResources().getDisplayMetrics();
                path.paint=new Paint();

                path.paint.setStyle(Paint.Style.STROKE);
                    path.p

[2017-02-20 22:59] moagrius commented on #71
`tileView.removePath(path)`

[2017-02-20 23:01] moagrius commented on #394
`tileView.removePath(path)`

[2017-02-21 05:06] ekangBoyong commented on #394
Yes sir I already used that in later of my code but still the path drawn was not been removed. thanks for the answer anw.

[2017-02-21 05:07] moagrius commented on #394
You may need to leave call invalidate as well to redraw

[2017-02-24 07:34] waynelimt commented on #392
hi, it is best if it can be actually scaled (with hit area and pixels transformed).

[2017-02-24 23:29] moagrius commented on #392
then there's no way to automate it.  your best bet is to handle scaling on your own.  add the views as markers through the normal `addMarker` infrastructure, but then put a TileViewEventListener on that listens for changes in scale, then updates the views, manually.  E.g., if you have a marker that's a LinearLayout, set the layoutParams to some baseline * scale and call `requestLayout`.

[2017-02-26 11:12] ekangBoyong commented on #394
sir i used
            tileView.invalidate();
            tileView.removePath(path);
but still path drawn is not removed. sorry for the inconvenience sir. newbie here :D

[2017-02-27 00:49] moagrius commented on #394
try:

[code]

[2017-02-27 11:45] ekangBoyong opened #395 "Landscape mode has problem in max zoomed out"
When the phone is in landscape mode and i zoomed out in its max, there is a part of the map that is scattered . Thanks in advance.

[2017-02-27 14:56] ekangBoyong commented on #394
i've tried sir,
         if(condition){
                         tileView.drawPath(path);
         }else if(condition){
                         tileView.removePath(path);
                         tileView.invalidate();
         }

                  path is not still removed.

[2017-02-28 01:55] moagrius commented on #395
Log the error.  You probably ran out of memory - check if your decoder is throwing OutOfMemoryErrors.  The device is still limited, despite what TileView tries to manage - you still need to make sure the user isn't requesting more image data than it can afford.  I personally use a max scale of 1.0 and obviously have a tille set just for that size.  If you still find you're running out of memory th

[2017-02-28 02:04] moagrius commented on #394
i just tried it, it works fine.

you can see by saving a reference to the path in the demo, then removing it in the marker click listener.

if you're stuck.  you can fork the demo, modify one of the activities to show your issue, post the link and i'll take a look when i can

[2017-02-28 04:20] viral8754 commented on #62
How I can set %row%col image sequence ?

[2017-02-28 04:22] moagrius commented on #62
You need to provide more information

[2017-02-28 06:24] ekangBoyong commented on #395
thank you so much sir. more power.

[2017-02-28 06:28] viral8754 commented on #62
I have folder with tiles images , as you use tile  'tile-1-2.png' for the image tile that would be at the 2nd column from left and 3rd row from top.

But I have image sequence with  'tile-1-2.png' for the image tile that would be at the 2nd row from top and 3rd column from left.

And I have to use same file name because this file use in many projects.

[2017-02-28 06:29] viral8754 commented on #62
So how can I use images in your code?

[2017-03-01 01:05] moagrius commented on #62
the readme clearly shows how to customize your image sources.  you can use image data from any source, not just string assets.  please refer to the documentation: https://github.com/moagrius/TileView#use-a-third-party-image-loading-library-like-picasso-glide-uil-etc

[2017-03-01 12:43] vkourtis commented on #252
Hi,

I have the same problem, with the difference that I am only using one bit tile.

I know what I'm doing is probably not the purpose of this library, but I am doing this as a temporary solution. Our system was designed to use one image that we would draw on, but we have started using very large images that I have to downsample in order to use them in the android app. So, I decided to start usin

[2017-03-02 00:42] moagrius commented on #252
it's probably an out of memory issue - update your `BitmapProvider` to log out the exception that's being caught.  if it's OOME, then there's not much you can do - the device only has so much memory - in fact that's the whole point of `TileView`, to tile images and more aggressively manage memory consumption...

if you still need help, post back with the log information i asked for (and/or any oth

[2017-03-02 15:10] vkourtis commented on #252
Unfortunately, I get no exceptions. I'm catching all the possible exceptions in Bitmap Provider, but nothing reports back.

It all works fine (or almost fine) when I disable the memory cache on my Glide call. I can't find something robust to ask you on that, so I will just thank you for trying to help, even if not directly related to TileView :)

The problem I have now is that, at some zoom levels

[2017-03-03 23:58] moagrius commented on #252
i mean i don't know for sure but if it's vanishing intermittently that makes me think it's probably a memory issue.

if you want to post your project - or a demo that shows the issue - i can try to take a look when i get some time, maybe in the next week or so

[2017-03-10 18:02] Derpalus opened #396 "Concurrent tile access"
From my testing it seems like at most two tiles are loaded at a time, then TileView waits until at least one of them are loaded and then starts loading the third, and so on. Is it possible to increase this value if you for example want to load over a slow network? If not is it possible to add such a function?

[2017-03-10 23:41] moagrius commented on #396
it's not a arbitrary limit, it just uses a thread pool.  if all the available threads are working, it'll queue up the next work.  it's set to have one thread per core - sounds like you're looking at a dual core device - one thread per core is really all that it'll be able to work with anyway - you can set it to more threads, but then the cores will just bounce around between them.

you could hack

[2017-03-11 03:14] moagrius commented on #395
is this still open?

[2017-03-11 03:14] moagrius commented on #394
is this still open?

[2017-03-11 03:15] #392 closed

[2017-03-12 17:01] Derpalus commented on #396
I do understand the reason for this and I agree, if the only thing each thread were doing was to load and draw an image there would be no reason for more threads. But say you want to load the images over a very slow network where each request has round-trip-times in the length of seconds, then the threads will spend a lot of time idle, just waiting for replies and having more threads would definit

[2017-03-13 00:35] moagrius commented on #396
You're free to extend, hack, fork, etc to get it to work with your specific requirements.  Most `TileView` use cases are for local files (assets, internal, etc) and I believe the current implementation to be the fastest and most efficient - that said, I'm very happy to be proved wrong if you think another configuration would be better.

As regards caching, you're right, `TileView` does not provide

[2017-03-14 09:39] Arun7708 opened #397 "Will this library support perspective view by tilting the image ?"
Hi,
It would be great if add perspective view along with this library (something like navigation in map).

Thanks in Advance

[2017-03-14 11:39] kazakhonthemoon commented on #395
I decided it by using only 256x256 pixel images

2017-03-11 9:14 GMT+06:00 Mike Dunn <notifications@github.com>:

[2017-03-14 22:23] moagrius commented on #395
👍

[2017-03-14 22:23] #395 closed

[2017-03-14 22:24] #394 closed

[2017-03-14 22:24] moagrius commented on #397
it's not clear what you're asking

[2017-03-15 05:01] Arun7708 commented on #397
Hi mike ,

I am asking about perspective view, something similar to street view or
navigation in google map. the image is tilted 45 degree so that the
destination point can be seen from the starting point. currently we have
only top view. Is that possible with this library?

Thanks & Regards,

*Arun Chand*

*Senior Software Engineer | Android Mobility*

S: arunchand10888 | W: arunchand10888
<http:

[2017-03-16 22:04] moagrius commented on #397
Thanks for clarifying.  No, that will not be a part of this library.

[2017-03-16 22:04] #397 closed

[2017-03-19 07:01] gauravshelangia opened #398 "How do I get the tile information while I click on that tile"
Actually, I want to place the marker on the tile on which I clicked. So, for this I need the boundary of that tile. So please tell me how to do it.

[2017-03-19 09:34] peterLaurence commented on #398
Do you really want to know the boundaries of the tile? Tell us more precisely what you want to do :

1. From a single tap place a marker in the center of the corresponding tile
2. From a single tap place a marker at the exact position of the touch event

This is possible, check out the FAQ [How do I get relative coordinates (e.g., latitude and longitude) from a pixel value like a touch event?](../

[2017-03-19 11:57] gauravshelangia commented on #398
I am new to android and I want to add marker on the tile on which I clicked. Please specify clearly, how to do this.

[2017-03-20 03:05] #396 closed

[2017-03-20 03:06] moagrius commented on #398
thanks for trying @peterLaurence.  closing.

[2017-03-20 03:06] #398 closed

[2017-03-20 05:18] gauravshelangia commented on #398
@peterLaurence  please tell me how to do the following:
  From a single tap place a marker in the center of the corresponding tile

[2017-03-20 06:55] gauravshelangia opened #399 "how to disable the zoom in tileview"

[2017-03-21 01:59] moagrius commented on #399
There are many ways.  The most efficient would be probably be to suppress the gesture, but here's an easy way:

[code]

[2017-03-21 04:01] gauravshelangia commented on #399
Thank you, It's working.

[2017-03-21 04:01] #399 closed

[2017-03-22 09:53] Mohitmadaan2 opened #401 "Tileview rendring tile images"
Hello ,
i want to change rendering of tiles . In you demo it is like
0_0  1_0
0_1  1_1
0_2  1_2

but i want to change as
0_0  0_1  0_2
1_0  1_1  1_2

can you help me how can i do this

[2017-03-23 01:12] moagrius commented on #401
implement your own `BitmapProvider` implementation.  it's spelled out very clearly in several places in the readme, e.g., https://github.com/moagrius/TileView#tiles

[2017-03-30 20:23] Derpalus opened #402 "TileView not using anything but 1.0 scale"
I have the following code:

The levels variable contains 4 entries; 125, 250, 500, 1000.
But for some reason, no matter what zoom level the map is at getBitmap ALWAYS gets called with level = 1000. Note that I'm giving an integer instead of a string as input to addDetailLevel, but that shouldn't be any problem according to the documentation.

Have I missed some setting somewhere?

[2017-03-30 20:27] MisterRager commented on #374
@peterLaurence
I can't find a `TileView#reset`

[2017-03-30 22:49] moagrius commented on #402
nothing obviously wrong, and yes you can do what you're trying to do.

for a quick test you might use an `AtomicInteger` just in case references are getting mixed up somewhere else, but tbh i'd be surprised if that worked

can you fork the demo and modify it with an MVP that shows the issue (and post it somewhere public)?

[2017-03-31 11:13] Derpalus commented on #402
Ok I found out what was wrong. The image was simply so small and the phone display had so high resolution that TileView never considered it worth going down in scale. When I called setMinimumScaleMode with NONE it was possible to zoom out so far that the lower scales got loaded.

Now my final problem is markers not showing up like they should, but that's another issue.

[2017-03-31 15:54] shuao23 opened #403 "OnClickListner for the users to use"
There is listener for everything I need except for listening to onclick.
I am trying to implement something similar to the red marker in google maps where you can just tap anywhere in the map to put a marker there.

Thanks

[2017-04-01 15:23] peterLaurence commented on #402
@Derpalus for your markers, be careful with the defined bounds of the TileView, and the offsets. Look at `BuildingPlansTileViewActivity.java` and `FictionalMapTileViewActivity.java` for examples.

[2017-04-01 15:23] #402 closed

[2017-04-01 18:50] moagrius commented on #403
There are many ways to get reports of touch events, all clearly detailed in the readme: https://github.com/moagrius/TileView#hooks-and-listeners

You probably want `onTouchUp`, `onSingleTapUp`, or `onSingleTapUpConfirmed`.  There are all standard AOSP callbacks and are described in the android developers documentation.

[2017-04-06 07:39] Derpalus opened #404 "Feature Request: Gracefully handle xml rendering"
Just a simple suggestion to add functionality so TileViews can be added in xml without having an xml compilation error in Android Studio.

I think it's as easy as adding
[code]
just after the super call in the constructors of TileView and ZoomPanLayout.
But I have never made my own custom view in Android so I don't know if that is all that is required. Perhaps some sort of basic rendering placehol

[2017-04-07 01:41] #403 closed

[2017-04-12 17:32] mahmoud-elnaggar opened #405 "Scroll speed"
Can we set a value to control speed of map while scrolling to position programaticaly  ?

[2017-04-12 17:33] peterLaurence opened #406 "Expose bounds in CoordinateTranslater with getters"
Hey Mike, i hope you're doing well.

I have a use case where it would be convenient to retrieve the bounds set with `TileView.getCoordinateTranslater.setBounds(double left, double top, double right, double bottom)`.
Those are private attributes, with no getters. I'd like to make a PR and create `getRight()`, etc methods.
Are you ok with this?

Btw : are you still planning to work on TileView v3?

[2017-04-12 23:37] moagrius commented on #406
Hey Peter,

Good to hear from you.  And yes, feel free to add that API and commit (if you're just adding getters, you don't need a PR).

I do still want to do V3 - I went back for my masters and have been buried, but I'm taking summer off and hope to spend some time then.  I mostly just want to decouple and refactor - like make a 2d scroll view, then ZoomPanLayout inherits from that, and TileView

[2017-04-13 02:18] moagrius commented on #405
`setAnimationDuration`

http://moagrius.github.io/TileView/index.html?com/qozix/tileview/TileView.html

[2017-04-13 02:35] moagrius commented on #382
i'm going to close this since Jack is being abandoned by google

[2017-04-13 02:35] #382 closed

[2017-04-13 02:37] moagrius commented on #404
is this specific to that layout preview in AS?

[2017-04-13 14:39] peterLaurence commented on #406
Ok that's good news!
I agree we should strategize. We created a small wiki page with v3 goals, but that was several months ago..
So yes, decouple & refactor sounds good.
I am developing my own app right now (when I have time after work), but I'm always available to switch to TileView dev. Just let me know ;)

[2017-04-13 14:52] moagrius commented on #406
Awesome, will do, thanks Peter

[2017-04-13 17:31] #406 closed

[2017-04-14 14:48] mahmoud-elnaggar commented on #405
@moagrius  Thanks for response and many thanks for great library 👍

[2017-04-15 04:22] moagrius commented on #405
:thumbsup: hth!

[2017-04-17 15:32] drmillan commented on #303
@ohoedneboe Did you ever managed to solve this? any way to at least refresh all bitmaps?

[2017-04-17 16:36] ohoedneboe commented on #303
Hi I used the method described in this thread, and that works. The problem is that my version of TileView is diverging from the main thread now, so if I want to use a newer version I have to bring my own modifications to the next version. It did not seem like they wanted to put this fix in.
Olav

[2017-04-18 00:58] moagrius commented on #303
I don't foresee spending any significant development time to add this functionality to the version 2 api.  that said, if someone provides a PR that provides it (without breaking anything else, that's backwards and forwards compatible, etc), i'd be happy to take a look.

barring that, i could add this to the feature requests for version 3 (hopefully coming this summer).

[2017-04-19 11:34] Derpalus commented on #404
I don't quite understand what you mean. All I know is I get an exception when I add a TileView to my view xml and that Android Studio suggests using View.isInEditMode() for custom views to avoid the problem.